.register-form {
  width: 80%;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.form-group {
  margin-top: 8px;
}

button {
  background-color: #4a7083;
  color: #fff;
}

.title {
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.centerButton {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.link {
  cursor: pointer;
  float: right;
}

@media only screen and (min-width: 801px) {
  .register-form {
    width: 40%;
  }
}

@media only screen and (min-width: 1201px) {
  .register-form {
    width: 25%;
  }
}
