<h2 mat-dialog-title>Change Password</h2>
<form (ngSubmit)="updatePassword()" [formGroup]="form">
    <mat-dialog-content class="mat-typography">
        <mat-form-field class="full-width">
            <mat-label>Old password</mat-label>
            <input autocomplete="on" formControlName="oldPassword" matInput name="Old Password" type="password" />
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>New password</mat-label>
            <input autocomplete="on" formControlName="newPassword" matInput name="New password" type="password" />
            <div *ngIf="newPassword!.touched && form.invalid">
                <div *ngIf="form.errors!.oldAndNewPassDifferent" class="alert alert-danger">
                    Old and new password should not be the same
                </div>
            </div>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Confirm new password</mat-label>
            <input
                autocomplete="on"
                formControlName="confirmNewPassword"
                matInput
                name="Confirm Password"
                type="password"
            />
            <div *ngIf="confirmNewPassword!.touched && form.invalid">
                <div *ngIf="form.errors!.newPasswordsSame" class="alert alert-danger">
                    Confirmed password is not the same
                </div>
            </div>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="alignCenter">
        <button [disabled]="!form.valid" color="primary" class="updateButton" mat-button mat-flat-button type="submit">
            Update password
        </button>
        <button (click)="closeDialog()" color="primary" class="cancelButton" mat-button mat-flat-button type="button">
            Cancel
        </button>
    </mat-dialog-actions>
</form>
