.cancel_buttons{
  margin-left: 8px;
}

.content {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
  padding-top: 20px;
}

.mat-form-field{
  width: 100%;
}

.fileDiv{
  max-width: 90%;
  display: inline-flex;
}
