<div class="content-cards">
    <mat-card class="serviceCard">
        <mat-card-title>Configure Service</mat-card-title>
        <mat-tab-group animationDuration="0ms" class="mat-elevation-z4" mat-stretch-tabs>
            <mat-tab label="FORM">
                <form-service-info [service]="testService" #serviceInfo></form-service-info>

                <form-requirements #requirements></form-requirements>

                <form-file-select #fileSelect></form-file-select>

                <form-addresses #addresses></form-addresses>

                <form-arguments #arguments></form-arguments>

                <form-constraints #constraints></form-constraints>

                <form-connectivity #connectivity></form-connectivity>

                <button (click)="onSubmit()" mat-flat-button class="updateButton" type="submit">Save</button>

                <button class="cancelButton" mat-flat-button routerLink="/control" type="button">Cancel</button>
            </mat-tab>

            <mat-tab label="FILE">
                <form-file-upload></form-file-upload>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
