.cancel_buttons {
    margin-left: 8px;
}

.content {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
    padding-top: 20px;
}

.fileForm {
    width: 70vh;
}

.location {
    display: none;
}

button {
    margin-bottom: 20px;
    background-color: #4a7083;
}

.instance {
    display: inline-block;
    margin-left: -8px;
}

.connectivityCard {
    display: flex;
    padding-bottom: 0;
}

.addedFiles {
    width: 80%;
    float: left;
}

.add-btn {
    background-color: #4a7083;
}

.addButtonDiv {
    padding: 10px;
}

.cancelButton {
    margin-left: 10px;
}

.settingsButton {
    background-color: #0c5460;
}

.inputGroup {
    padding: 10px !important;
}

.mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: block !important;
    flex-direction: column;
    min-width: 0;
    text-align: left;
}
