<div class="content-cards">
  <mat-card class="serviceCard">
    <mat-card-title>Configure Service</mat-card-title>
    <div>
      <mat-tab-group animationDuration="0ms" class="mat-elevation-z4" mat-stretch-tabs>
        <mat-tab label="FORM">

          <form (ngSubmit)="onSubmit()" *ngIf="service" [formGroup]="form">

            <div class="w3-col l6 s12 leftInput">
              <mat-form-field appearance="fill">
                <mat-label>Application ID</mat-label>
                <input [value]=applicationId disabled matInput>
              </mat-form-field>
            </div>

            <div class="w3-col l6 s12 rightInput">
              <mat-form-field appearance="fill">
                <mat-label>Service Namespace</mat-label>
                <input formControlName="microservice_namespace" matInput required>
              </mat-form-field>
            </div>

            <div class="w3-col l6 s12 leftInput">
              <mat-form-field>
                <mat-label>Service Name</mat-label>
                <input formControlName="microservice_name" matInput required>
              </mat-form-field>
            </div>

            <div class="w3-col l6 s12 rightInput">
              <mat-form-field
                matTooltip="Type of virtualization chosen for the service">
                <mat-label>Virtualization</mat-label>
                <select formControlName="virtualization" matNativeControl required>
                  <option value="container">Container</option>
                  <option value="unikernel">Unikernel</option>
                  <option value="vm">Vm</option>
                </select>
              </mat-form-field>
            </div>

            <mat-form-field>
              <mat-label>Description</mat-label>
              <textarea cols="3" formControlName="description" matInput
                        placeholder="Description of the service"></textarea>
            </mat-form-field>

            <h4>Requirements:</h4>

            <div style="margin-left: -8px">
              <div class="w3-col l3 m4 s6 w3-row-padding">
                <mat-form-field>
                  <mat-label>Memory</mat-label>
                  <input formControlName="memory" matInput min="0" placeholder="1024" required type="number">
                  <p matSuffix>MB</p>
                </mat-form-field>
              </div>

              <div class="w3-col l3 m4 s6 w3-row-padding">
                <mat-form-field>
                  <mat-label>Vcpus</mat-label>
                  <input formControlName="vcpus" matInput min="0" required type="number" value="1">
                </mat-form-field>
              </div>

              <div class="w3-col l3 m4 s6 w3-row-padding">
                <mat-form-field>
                  <mat-label>Vgpus</mat-label>
                  <input formControlName="vgpus" matInput min="0" required type="number" value="0">
                </mat-form-field>
              </div>

              <div class="w3-col l3 m4 s6 w3-row-padding">
                <mat-form-field>
                  <mat-label>Vtpus</mat-label>
                  <input formControlName="vtpus" matInput min="0" required type="number" value="0">
                </mat-form-field>
              </div>

              <div class="w3-col l3 m4 s6 w3-row-padding">
                <mat-form-field>
                  <mat-label>Bandwidth_in</mat-label>
                  <input formControlName="bandwidth_in" matInput
                         matTooltip="Minimum bandwidth-ingress needed for service" min="0" required type="number"
                         value="0">
                  <p matSuffix>KB</p>
                </mat-form-field>
              </div>

              <div class="w3-col l3 m4 s6 w3-row-padding">
                <mat-form-field>
                  <mat-label>Bandwidth_out</mat-label>
                  <input formControlName="bandwidth_out" matInput
                         matTooltip="Minimum bandwidth-egress needed for service" min="0" required type="number"
                         value="0">
                  <p matSuffix>KB</p>
                </mat-form-field>
              </div>

              <div class="w3-col l3 m4 s6 w3-row-padding">
                <mat-form-field>
                  <mat-label>Storage</mat-label>
                  <input formControlName="storage" matInput min="0" required type="number" value="0">
                  <p matSuffix>MB</p>
                </mat-form-field>
              </div>

            </div>

            <div class="fileDiv">
              <mat-form-field style="width: 70vh">
                <mat-label>Code</mat-label>
                <input formControlName="code" matInput matTooltip="File containing the code for the service"
                       placeholder="https://urlToCode" required
                       type="url">
              </mat-form-field>

              <div class="file-upload">
                <button (click)="fileUploadCode.click()" class="upload-btn" mat-mini-fab type="button" style="background-color: #4A7083">
                  <mat-icon>attach_file</mat-icon>
                </button>
                <input #fileUploadCode (change)="onFileSelected($event, 0, 'code')"
                       class="file-input"
                       type="file">
                <input #fileUploadCode class="file-input"
                       type="file">
              </div>
            </div>

            <div class="fileDiv">
              <mat-form-field style="width: 70vh">
                <mat-label>State</mat-label>
                <input formControlName="state" matInput matTooltip="File containing the state of the service"
                       placeholder="https://urlToState" required type="url"
                       value="">
              </mat-form-field>

              <div class="file-upload">
                <button (click)="fileUploadState.click()" class="upload-btn" style="background-color: #4A7083" mat-mini-fab type="button">
                  <mat-icon>attach_file</mat-icon>
                </button>
                <input #fileUploadState (change)="onFileSelected($event, 1, 'state')"
                       class="file-input"
                       type="file">
                <input #fileUploadState class="file-input"
                       type="file">
              </div>
            </div>

            <br>

            <mat-form-field>
              <mat-label>Port</mat-label>
              <input formControlName="port" matInput matTooltip="Port for exposure of the service" required
                     type="text">
            </mat-form-field>

            <mat-expansion-panel formGroupName="addresses">
              <mat-expansion-panel-header>
                <mat-panel-title>Addresses
                  <mat-icon
                    matTooltip="Optional - If the specified IP addresses are unoccupied, the service will be provided at these addresses.">
                    info
                  </mat-icon>

                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-form-field>
                <mat-label>RR-IP</mat-label>
                <input formControlName="rr_ip" matInput matTooltip="Optional - IP chosen for round-robin addressation"
                       type="text">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Closest_ip</mat-label>
                <input formControlName="closest_ip" matInput matTooltip="Optional - The orchestrator may choose the closest IP to the given one"
                       type="text">
              </mat-form-field>

              <div class="full-width" formGroupName="instances" style="display: inline-block; margin-left: -8px">
                <p>Instances:</p>
                <div class="w3-col l3 m4 s12 w3-row-padding">
                  <mat-form-field>
                    <mat-label>From</mat-label>
                    <input formControlName="from" matInput type="text">
                  </mat-form-field>
                </div>

                <div class="w3-col l3 m4 s12 w3-row-padding">
                  <mat-form-field>
                    <mat-label>To</mat-label>
                    <input formControlName="to" matInput type="text">
                  </mat-form-field>
                </div>

                <div class="w3-col l3 m4 s12 w3-row-padding">
                  <mat-form-field>
                    <mat-label>Start</mat-label>
                    <input formControlName="start" matInput type="text">
                  </mat-form-field>
                </div>

              </div>
            </mat-expansion-panel>

            <br>

            <div>
              <p class="addButtonDiv">Files:</p>
              <button (click)="addFileInput()" mat-icon-button type="button">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div *ngFor="let f of fileArrayForm.controls; index as i">
              <mat-form-field formGroupName="added_files" style="width: 80%; float: left;">
                <mat-label>File Url</mat-label>
                <input [formControl]="$any(fileArrayForm).controls[i]"
                       class="addButtonDiv"
                       matInput placeholder="https://urlToFile" type="url" value="">
              </mat-form-field>

              <div class="file-upload" style="float: left; position: relative; ">
                <button (click)="fileUpload.click()" class="upload-btn" color="primary" mat-mini-fab type="button">
                  <mat-icon>attach_file</mat-icon>
                </button>
                <input #fileUpload (change)="onFileSelected($event, i, 'file')" accept="txt"
                       class="file-input"
                       type="file">

                <button (click)="deleteFiles(i)" class="settingsButton" mat-icon-button type="button">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

            </div>

            <mat-form-field>
              <mat-label>Args - Key Value</mat-label>
              <input [(ngModel)]="argsText" formControlName="args" matInput type="text">
            </mat-form-field>

            <div>
              <h4 class="addButtonDiv">Constraints:</h4>
              <button [matMenuTriggerFor]="selectConstrains" mat-icon-button type="button">
                <mat-icon>add</mat-icon>
              </button>
              <mat-menu #selectConstrains="matMenu" yPosition="above">
                <button (click)="addConstrains('latency')" mat-menu-item type="button">Latency Constraints</button>
                <button (click)="addConstrains('geo')" mat-menu-item type="button">Geo Constraints</button>
              </mat-menu>
            </div>

            <div formArrayName="constraints">
              <mat-card *ngFor="let cons of constraints.controls; let i = index">
                <div [formGroupName]="i">
                  <div *ngIf="canViewLatConstrains[i]" class="constraints">
                    <div>
                      <h5 class="addButtonDiv">Latency Constrains</h5>
                      <button (click)="deleteConstrains(i)" mat-icon-button type="button">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                    <mat-form-field>
                      <mat-label>Area</mat-label>
                      <select formControlName="area" matNativeControl matTooltip="Specifies the area in which the constraint is in effect"
                              required>
                        <!-- // TODO Add the real locations -->
                        <option value="munich1">Munich 1</option>
                        <option value="munich2">Munich 2</option>
                        <option value="frankfurt">Frankfurt</option>
                      </select>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Threshold</mat-label>
                      <input formControlName="threshold" matInput matTooltip="Maximum latency" type="number"
                             value="0">
                      <p matSuffix>ms</p>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Rigidness</mat-label>
                      <input formControlName="rigidness" matInput max="1" min="0" step="0.01" type="number" value="0"
                      >
                      <p matSuffix>%</p>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Convergence Time</mat-label>
                      <input formControlName="convergence_time" matInput type="number" value="300">
                      <p matSuffix>sec</p>
                    </mat-form-field>
                  </div>

                  <div *ngIf="!canViewLatConstrains[i]" class="constraints">
                    <div>
                      <h5 class="addButtonDiv">Geo Constrains</h5>
                      <button (click)="deleteConstrains(i)" mat-icon-button type="button">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>

                    <div class="w3-col l4 m4 s6" style="padding-right: 16px">
                      <mat-form-field>
                        <mat-label>Longitude</mat-label>
                        <input #long matInput type="number">
                      </mat-form-field>
                    </div>

                    <div class="w3-col l4 m4 s6">
                      <mat-form-field>
                        <mat-label>Latitude</mat-label>
                        <input #lat matInput type="number">
                      </mat-form-field>
                    </div>

                    <div style="display: none">
                      <input [ngModel]="'(' + long.value + ',' + lat.value + ')'" formControlName="location" matInput>
                    </div>

                    <mat-form-field>
                      <mat-label>Threshold</mat-label>
                      <input formControlName="threshold" matInput type="number">
                      <p matSuffix>km</p>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Rigidness</mat-label>
                      <input formControlName="rigidness" matInput max="100" min="0" type="number" value="0">
                      <p matSuffix>%</p>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Convergence Time</mat-label>
                      <input formControlName="convergence_time" matInput type="number" value="300">
                      <p matSuffix>sec</p>
                    </mat-form-field>

                  </div>
                </div>
              </mat-card>
            </div>

            <div>
              <h4 class="addButtonDiv">Connectivity:</h4>
              <button (click)="addConnectivity()" mat-icon-button type="button">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div formArrayName="connectivity">

              <div *ngFor="let conn of connectivity.controls; let i = index" id="contentInside">
                <mat-card [formGroupName]="i" class="connectivityCard" style="display: flex; padding-bottom: 0">

                  <div class="w3-col s8">
                    <mat-form-field>
                      <mat-label> target_microservice_id {{conn.value}}</mat-label>
                      <select (change)="openDialog(i)" formControlName="target_microservice_id" matNativeControl
                              required>
                        <option *ngFor="let service of allServices" [value]="service._id.$oid">
                          {{service.microservice_name}} (id: {{service._id.$oid}})
                        </option>
                      </select>
                    </mat-form-field>
                  </div>

                  <div class="w3-col s4">
                    <button (click)="deleteConnection(i)" class="settingsButton" mat-flat-button type="button">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button (click)="openDialog(i)" class="settingsButton" mat-flat-button type="button">
                      <mat-icon>settings</mat-icon>
                    </button>
                  </div>

                </mat-card>
              </div>
            </div>

            <button color="primary" mat-button mat-flat-button type="submit">Save</button>
            <button class="cancel_buttons" color="primary" mat-button mat-flat-button routerLink="/control"
                    type="button">
              Cancel
            </button>
            <mat-error *ngIf="formInvalid" class="alert alert-danger" style="margin-top: 10px">
              some required field's are still missing
            </mat-error>

          </form>
        </mat-tab>

        <mat-tab label="FILE">
          <div>
            <div (click)="fileUpload.click()" class="content">
              {{filename}}
            </div>

            <div style="align-content: baseline; text-align: center">
              <div class="file-upload">
                <input #fileUpload (change)="loadFile($event)"
                       accept="application/JSON"
                       class="file-input"
                       type="file">
              </div>
              <button (click)="uploadDocument()" [disabled]="file == undefined" class="upload-btn"
                      color="primary" mat-flat-button style="margin-bottom: 20px" type="button">
                Upload Config
              </button>
              <p>The file should contain only the microservice object</p>
            </div>
          </div>

        </mat-tab>

      </mat-tab-group>
    </div>
  </mat-card>
</div>
