.cancel_buttons {
    margin-left: 8px;
}

.content {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
    padding-top: 20px;
}

.mat-form-field {
    width: 100%;
}

.fileDiv {
    max-width: 90%;
    display: inline-flex;
}

.fileForm {
    width: 70vh;
}

.location {
    display: none;
}

button {
    margin-bottom: 20px;
    background-color: #4a7083;
}

.file-upload-div {
    align-content: baseline;
    text-align: center;
}

.file-upload {
    float: left;
    position: relative;
}

.instance {
    display: inline-block;
    margin-left: -8px;
}

.connectivityCard {
    display: flex;
    padding-bottom: 0;
}

.addedFiles {
    width: 80%;
    float: left;
}

.add-btn {
    background-color: #4a7083;
}

.addButtonDiv {
    padding: 10px;
}

.cancelButton {
    margin-left: 10px;
}
