<form [formGroupName]="formGroupName">
    <div class="w3-row">
        <div class="w3-col l6 m6 s6 w3-row-padding">
            <nb-form-field>
                <nb-select
                    fullWidth
                    placeholder="Cluster"
                    formControlName="cluster"
                    nbTooltip="Specifies the cluster in which the constraint is in effect"
                >
                    <mat-option *ngFor="let option of clusterOptions" [value]="option">{{ option }}</mat-option>
                </nb-select>
            </nb-form-field>
        </div>
        <div class="w3-col l6 m6 s6 w3-row-padding">
            <nb-form-field>
                <input fullWidth placeholder="Node" nbInput formControlName="node" nbTooltip="Node" />
            </nb-form-field>
        </div>
    </div>
</form>
