<div class="addButtonDiv">
    <h4 class="addButtonDiv">Constraints:</h4>

    <button nbButton ghost size="large" [nbContextMenu]="items" nbContextMenuTag="constraints-menu">
        <nb-icon icon="plus"></nb-icon>
    </button>
</div>

<form [formGroup]="constraintsForm">
    <div *ngFor="let constraint of constraints; let i = index">
        <div class="constraints">
            <div>
                <h5 class="addButtonDiv">
                    <ng-container [ngSwitch]="constraint">
                        <ng-container *ngSwitchCase="ConstraintType.LATENCY">Latency Constraints</ng-container>
                        <ng-container *ngSwitchCase="ConstraintType.GEO">Geo Constraints</ng-container>
                        <ng-container *ngSwitchCase="ConstraintType.DIRECT">Cluster Constraints</ng-container>
                    </ng-container>
                </h5>

                <div class="addButtonDiv">
                    <h5>{{ headlineHelper(constraint.type) }} constraint:</h5>
                    <button (click)="deleteConstraint(i)" nbButton ghost type="button">
                        <nb-icon icon="trash-2"></nb-icon>
                    </button>
                </div>
            </div>
            <ng-container [ngSwitch]="constraint.type">
                <ng-container *ngSwitchCase="ConstraintType.LATENCY">
                    <app-latency-constraints></app-latency-constraints>
                </ng-container>
                <ng-container *ngSwitchCase="ConstraintType.GEO">
                    <app-geo-constraints></app-geo-constraints>
                </ng-container>
                <ng-container *ngSwitchCase="ConstraintType.DIRECT">
                    <app-cluster-constraints></app-cluster-constraints>
                </ng-container>
            </ng-container>
        </div>
    </div>
</form>
