<div>
    <h4 class="addButtonDiv">Constraints:</h4>
    <button [matMenuTriggerFor]="selectConstrains" class="add-btn" mat-mini-fab type="button">
        <mat-icon>add</mat-icon>
    </button>
    <mat-menu #selectConstrains="matMenu" yPosition="above">
        <button (click)="addConstrains(ConstraintType.LATENCY)" mat-menu-item type="button">Latency Constraints</button>
        <button (click)="addConstrains(ConstraintType.GEO)" mat-menu-item type="button">Geo Constraints</button>
        <button (click)="addConstrains(ConstraintType.DIRECT)" mat-menu-item type="button">Cluster Constraints</button>
    </mat-menu>
</div>

<form [formGroup]="constraintsForm">
    <div *ngFor="let constraint of constraints; let i = index">
        <div class="constraints">
            <div>
                <h5 class="addButtonDiv">
                    <ng-container [ngSwitch]="constraint">
                        <ng-container *ngSwitchCase="ConstraintType.LATENCY">Latency Constraints</ng-container>
                        <ng-container *ngSwitchCase="ConstraintType.GEO">Geo Constraints</ng-container>
                        <ng-container *ngSwitchCase="ConstraintType.DIRECT">Cluster Constraints</ng-container>
                    </ng-container>
                </h5>

                <div class="addButtonDiv">
                    <h5>{{ headlineHelper(constraint.type) }} constraint:</h5>
                    <button (click)="deleteConstraint(i)" mat-icon-button type="button">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <ng-container [ngSwitch]="constraint.type">
                <ng-container *ngSwitchCase="ConstraintType.LATENCY">
                    <app-latency-constraints></app-latency-constraints>
                </ng-container>
                <ng-container *ngSwitchCase="ConstraintType.GEO">
                    <app-geo-constraints></app-geo-constraints>
                </ng-container>
                <ng-container *ngSwitchCase="ConstraintType.DIRECT">
                    <app-cluster-constraints></app-cluster-constraints>
                </ng-container>
            </ng-container>
        </div>
    </div>
</form>
