.mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: block !important;
    flex-direction: column;
    min-width: 0;
    text-align: left;
}

.w3-row {
    margin-left: 0px;
}
