.roleSelect {
    cursor: pointer;
}

.roleSelectField {
    margin-bottom: -1.25em;
    cursor: pointer;
    overflow: hidden;
}

.roleSelect p {
    overflow: auto;
    color: gray;
}

.noMember {
    padding-top: 50px;
    text-align: center;
}

.noMember p {
    font-size: 2rem;
    color: lightgrey;
}

.member-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.member-item-person {
    display: flex;
    align-items: center;
}

.editButtons {
    text-align: end;
}
