<div class="member-list">
    <div *ngFor="let m of searchedMember; let index = index" class="w3-row member-item">
        <div class="w3-col l3 m3 member-item-person">
            <nb-icon>account_circle</nb-icon>
            <p>&#160;{{ m.name }}</p>
        </div>
        <div class="w3-col l6 m6 roleSelect">
            <p *ngIf="!editItem[index]">{{ m.roles }}</p>
            <nb-form-field *ngIf="editItem[index]" class="roleSelectField">
                <nb-select [formControl]="roles[index]" multiple>
                    <nb-option *ngFor="let role of rolesList" [value]="role">{{ role }}</nb-option>
                </nb-select>
            </nb-form-field>
        </div>
        <div class="w3-col l3 m3 editButtons">
            <button (click)="saveRoles(index)" *ngIf="editItem[index]" nbButton ghost>
                <nb-icon icon="save-outline"></nb-icon>
            </button>
            <button (click)="toggleEdit(index)" *ngIf="!editItem[index]" nbButton ghost>
                <nb-icon icon="settings-2-outline"></nb-icon>
            </button>
            <button (click)="removeMember(m)" nbButton ghost>
                <nb-icon icon="close-square-outline"></nb-icon>
            </button>
        </div>
    </div>
    <div *ngIf="searchedMember.length === 0" class="noMember">
        <p>No member found in this organization</p>
    </div>
</div>
