<nb-card>
    <nb-card-header>
        <h2>Add Member</h2>
    </nb-card-header>
    <nb-card-body>
        <div class="w3-row">
            <div class="w3-col l12 s12 m12">
                <nb-form-field appearance="fill" class="input-field searchForm">
                    <input
                        placeholder="Search user"
                        (ngModelChange)="search($event)"
                        nbInput
                        [(ngModel)]="searchText"
                    />
                    <button *ngIf="searchText" nbSuffix nbButton ghost (click)="resetSearch()">
                        <nb-icon icon="plus-circle-outline"></nb-icon>
                    </button>
                </nb-form-field>
            </div>
        </div>
        <nb-section [formGroup]="selection">
            <h4>Member</h4>
            <nb-card-body class="userEntry" *ngFor="let u of userFiltered">
                <nb-checkbox [formControlName]="u.name"> {{ u.name }}</nb-checkbox>
            </nb-card-body>
        </nb-section>
        <p *ngIf="userFiltered.length === 0">There are no additional users that could be added</p>
    </nb-card-body>
    <nb-card-footer class="dialog-footer">
        <button (click)="doAction()" status="primary" nbButton>Add</button>
        <button (click)="closeDialog()" status="basic" nbButton>Cancel</button>
    </nb-card-footer>
</nb-card>
