<form [formGroupName]="formGroupName">
    <div class="w3-row">
        <div class="w3-col l12 m12 s12 w3-row-padding">
            <nb-form-field>
                <label class="label">Area</label>
                <nb-select
                    placeholder="Area"
                    formControlName="area"
                    nbTooltip="Specifies the area in which the constraint is in effect"
                    required
                >
                    <!-- // TODO Add the real locations -->
                    <nb-option value="munich1">Munich 1</nb-option>
                    <nb-option value="munich2">Munich 2</nb-option>
                    <nb-option value="frankfurt">Frankfurt</nb-option>
                </nb-select>
            </nb-form-field>
        </div>
        <div class="w3-col l4 m4 s6 w3-row-padding">
            <nb-form-field>
                <label class="label">Threshold</label>
                <input
                    nbInput
                    placeholder="Threshold"
                    formControlName="threshold"
                    nbTooltip="Maximum latency"
                    type="number"
                    value="0"
                />
                <span nbSuffix>ms&#160;</span>
            </nb-form-field>
        </div>
        <div class="w3-col l4 m4 s6 w3-row-padding">
            <nb-form-field>
                <label class="label">Rigidness</label>
                <input
                    nbInput
                    placeholder="Rigidness"
                    formControlName="rigidness"
                    max="1"
                    min="0"
                    step="0.01"
                    type="number"
                    value="0"
                />
                <span nbSuffix>%&#160;</span>
            </nb-form-field>
        </div>
        <div class="w3-col l4 m4 s6 w3-row-padding">
            <nb-form-field>
                <label class="label">Convergence Time</label>
                <input
                    nbInput
                    placeholder="Convergence Time"
                    formControlName="convergence_time"
                    type="number"
                    value="300"
                />
                <span nbSuffix>sec&#160;</span>
            </nb-form-field>
        </div>
    </div>
</form>
