<form [formGroupName]="formGroupName">
    <div class="w3-row">
        <div class="w3-col l12 m12 s12 w3-row-padding">
            <mat-form-field>
                <mat-label>Area</mat-label>
                <mat-select
                    matNativeControl
                    formControlName="area"
                    matTooltip="Specifies the area in which the constraint is in effect"
                    required
                >
                    <!-- // TODO Add the real locations -->
                    <mat-option value="munich1">Munich 1</mat-option>
                    <mat-option value="munich2">Munich 2</mat-option>
                    <mat-option value="frankfurt">Frankfurt</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w3-col l4 m4 s6 w3-row-padding">
            <mat-form-field>
                <mat-label>Threshold</mat-label>
                <input matInput formControlName="threshold" matTooltip="Maximum latency" type="number" value="0" />
                <p matSuffix>ms&#160;</p>
            </mat-form-field>
        </div>
        <div class="w3-col l4 m4 s6 w3-row-padding">
            <mat-form-field>
                <mat-label>Rigidness</mat-label>
                <input matInput formControlName="rigidness" max="1" min="0" step="0.01" type="number" value="0" />
                <p matSuffix>%&#160;</p>
            </mat-form-field>
        </div>
        <div class="w3-col l4 m4 s6 w3-row-padding">
            <mat-form-field>
                <mat-label>Convergence Time</mat-label>
                <input matInput formControlName="convergence_time" type="number" value="300" />
                <p matSuffix>sec&#160;</p>
            </mat-form-field>
        </div>
    </div>
</form>
