<mat-list-item>
    <div class="icon-link">
        <a>
            <mat-icon>grid_view</mat-icon>
            <span class="link_name"> <a (click)="showClusters()">Clusters</a></span>
        </a>
    </div>

    <ul class="sub-menu">
        <mat-list-item>
            <mat-expansion-panel class="application-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title"> Registered </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngFor="let cluster of clusters" class="items">
                    <div *ngIf="!cluster.pairing_complete">
                        <mat-radio-group
                            (change)="handleChangeCluster(cluster)"
                            [(ngModel)]="activeAppId"
                            routerLink="/control"
                        >
                            <mat-radio-button [value]="cluster._id" class="menu-button">
                                <span class="sidenav-text">{{ cluster.cluster_name }}</span>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </mat-expansion-panel>
            <br />
            <mat-expansion-panel class="application-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title"> Active </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngFor="let cluster of clusters" class="items">
                    <div *ngIf="cluster.pairing_complete">
                        <mat-radio-group
                            (change)="handleChangeCluster(cluster)"
                            [(ngModel)]="activeAppId"
                            routerLink="/control"
                        >
                            <mat-radio-button [value]="cluster._id" class="menu-button">
                                <span class="sidenav-text">{{ cluster.cluster_name }}</span>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-list-item>
        <mat-list class="inline-list">
            <mat-list-item>
                <span class="sidenav-text">Add</span>
                <button (click)="openDialogCl('Add', {})" class="menu-button sidenav-text" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </ul>
</mat-list-item>
