<nb-list>
    <div class="icon-link">
        <a>
            <nb-icon icon="grid-outline"></nb-icon>
            <span class="link_name"> <a (click)="showClusters()">Clusters</a></span>
        </a>
    </div>

    <ul class="sub-menu">
        <nb-list-item>
            <nb-accordion>
                <nb-accordion-item-header>
                    <h1 class="panel-title">Registered</h1>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div *ngFor="let cluster of clusters" class="items">
                        <div *ngIf="!cluster.pairing_complete">
                            <nb-radio-group
                                (change)="handleChangeCluster(cluster)"
                                [(ngModel)]="activeAppId"
                                routerLink="/control"
                            >
                                <nb-radio [value]="cluster._id" class="menu-button">
                                    <span class="sidenav-text">{{ cluster.cluster_name }}</span>
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion>
            <br />
            <nb-accordion>
                <nb-accordion-item-header>
                    <h1 class="panel-title">Active</h1>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div *ngFor="let cluster of clusters" class="items">
                        <div *ngIf="cluster.pairing_complete">
                            <nb-radio-group
                                (change)="handleChangeCluster(cluster)"
                                [(ngModel)]="activeAppId"
                                routerLink="/control"
                            >
                                <nb-radio [value]="cluster._id" class="menu-button">
                                    <span class="sidenav-text">{{ cluster.cluster_name }}</span>
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion>
        </nb-list-item>
        <nb-list class="inline-list">
            <nb-list-item>
                <span class="sidenav-text">Add</span>
                <button (click)="openDialogCl('Add', {})" class="menu-button sidenav-text" nbButton ghost>
                    <nb-icon icon="plus"></nb-icon>
                </button>
            </nb-list-item>
        </nb-list>
    </ul>
</nb-list>
