<nb-card>
    <nb-card-header>Change Password</nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="updatePassword()" [formGroup]="form">
            <nb-form-field class="full-width">
                <input
                    autocomplete="on"
                    formControlName="oldPassword"
                    nbInput
                    placeholder="Old Password"
                    type="password"
                />
            </nb-form-field>

            <nb-form-field class="full-width">
                <input
                    autocomplete="on"
                    formControlName="newPassword"
                    nbInput
                    placeholder="New password"
                    type="password"
                />
                <div *ngIf="newPassword!.touched && form.invalid">
                    <div *ngIf="form.errors!.oldAndNewPassDifferent" class="alert alert-danger">
                        Old and new password should not be the same
                    </div>
                </div>
            </nb-form-field>

            <nb-form-field class="full-width">
                <input
                    autocomplete="on"
                    formControlName="confirmNewPassword"
                    nbInput
                    placeholder="Confirm Password"
                    type="password"
                />
                <div *ngIf="confirmNewPassword!.touched && form.invalid">
                    <div *ngIf="form.errors!.newPasswordsSame" class="alert alert-danger">
                        Confirmed password is not the same
                    </div>
                </div>
            </nb-form-field>

            <br />
            <div>
                <button [disabled]="!form.valid" nbButton status="primary" type="submit">Update password</button>
                <button (click)="closeDialog()" nbButton status="accent" type="button">Cancel</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
