<form [formGroup]="form">
    <div class="w3-col l6 s12 leftInput">
        <mat-form-field appearance="fill">
            <mat-label>Application ID</mat-label>
            <input [value]="applicationId" disabled matInput />
        </mat-form-field>
    </div>

    <div class="w3-col l6 s12 rightInput">
        <mat-form-field appearance="fill">
            <mat-label>Service Namespace</mat-label>
            <input matInput formControlName="microservice_namespace" required />
        </mat-form-field>
    </div>

    <div class="w3-col l6 s12 leftInput">
        <mat-form-field>
            <mat-label>Service Name</mat-label>
            <input matInput formControlName="microservice_name" required />
        </mat-form-field>
    </div>

    <div class="w3-col l6 s12 rightInput">
        <mat-form-field matTooltip="Type of virtualization chosen for the service">
            <mat-label>Virtualization</mat-label>
            <mat-select matNativeControl required>
                <mat-option value="container">Container</mat-option>
                <mat-option value="unikernel">Unikernel</mat-option>
                <mat-option value="vm">Vm</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea cols="3" formControlName="description" matInput placeholder="Description of the service"></textarea>
    </mat-form-field>
</form>
