@import "src/theme.scss";

mat-card {
    width: 100%;
    font-size: 1rem;
    margin: 0;
}

mat-card-title {
    background-color: $primary-background;
    padding: 16px;
    border-radius: 10px 10px 0 0;
    color: white;
}

mat-card p {
    margin-bottom: 0;
}

.content-cards {
    border-radius: 10px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 801px) {
    .content-cards {
        margin-left: 32px;
    }
}

.content {
    height: calc(100vh - 165px);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    p {
      font-size: 2rem;
      color: lightgray;
    }
}

.REGISTERED {
    color: green;
}

.CLUSTER_SCHEDULED {
    color: green;
}

.REQUESTED {
    color: yellow;
}

.NODE_SCHEDULED {
    color: green;
}

.RUNNING {
    color: green;
}

.FAILED {
    color: red;
}

.w3-col {
    line-height: 40px;
}

.statusText {
    display: contents;
}

@media only screen and (max-width: 450px) {
    .statusText {
        display: none;
    }

    .statusField {
        text-align: center;
    }
}

.statusField {
    cursor: pointer;
    align-items: end;
    display: inline-flex;
}

.mat-expansion-panel {
    margin-bottom: 10px;
    padding: 16px;
    /*pointer-events: none;*/
}

.mat-expansion-panel-header {
    padding: 0;
    background-color: rgba(0, 0, 0, 0) !important;
}

.span.mat-expansion-indicator {
    pointer-events: visiblefill !important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
    background-color: rgba(0, 0, 0, 0);
}

.disable_ripple:hover .disable_ripple:active .disable_ripple:focus .disable_ripple:focus-within {
    background-color: rgba(0, 0, 0, 0) !important;
}

.mat-expansion-panel-header.mat-expanded {
    background-color: rgba(0, 0, 0, 0) !important;
}

.mat-expansion-panel-header-description {
    color: #000000de;
}

.instance {
    padding: 16px;
    border-left: 2px solid;
    border-left-color: #adacac;
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
}

.instance:hover {
    background-color: rgba(241, 241, 241, 0.5);
}

.noInstance {
    text-align: center;
    color: #d3d3d3;
    font-size: large;
}

.instanceDelete {
    background-color: transparent;
}

.map-container {
    align-content: center;
    height: 140px;
    width: 250px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.alignEnd {
    text-align: end !important;
    padding: 0;
    justify-content: space-between;
}

.servicesList {
    padding: 10px;
}
