<div *ngIf="taskNumber===1">
  <p>Create a new application with the following attributes:</p>
  <li>Name: MyApplication</li>
  <li>Namespace: survey</li>
  <li>Description: survey task</li>
</div>

<div *ngIf="taskNumber===2">
  <p>Have a closer look at the status of the service named "Micro A" in Application "Sample Application".</p>
  <p>At which location was the service deployed?</p>
</div>

<div *ngIf="taskNumber===3">
  <p>You are the admin of this system and another user keeps causing problems, so delete the user "Evil-user".</p>
</div>

<div *ngIf="taskNumber===4">
  <p>
    Create two new services in your application "MyApplication" with the following properties, you can leave the other
    attributes unchanged.
  </p>

  Service 1:
  <li>Name: Service1</li>
  <li>Namespace: dev</li>
  <li>Memory: 100</li>

  <br />
  Service 2:
  <li>Name: Service2</li>
  <li>Vcpu: 2</li>
</div>

<div *ngIf="taskNumber===5">
  <p>
    Display the connection graph in the application "MyApplication". Then create a connection between the two services
    with the following properties:
  </p>

  <p>The connection should run from Service1 to Service2.</p>
  <li>Type: latency</li>
  <li>Threshold: 300 ms</li>
  <li>Rigidness: 50%</li>
  <li>Convergence Time: 250 sec</li>
</div>

<button (click)="dismiss()" color="accent" mat-flat-button mat-icon-button type="button">
  <mat-icon>close</mat-icon>
</button>
