<div>
    <h4 class="addButtonDiv">Environment:</h4>
    <button (click)="addEnvironment()" class="add-btn" mat-mini-fab type="button">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="w3-row">
    <div *ngFor="let env of environment; index as i; trackBy: trackByIdx">
        <div class="w3-col l4 m6 s12 w3-row-padding">
            <mat-form-field>
                <mat-label>Environment</mat-label>
                <input [(ngModel)]="environment[i]" matInput type="text" />

                <button matSuffix (click)="deleteEnvironment(i)" mat-icon-button type="button">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>

<div>
    <h4 class="addButtonDiv">Cmd:</h4>
    <button (click)="addCmd()" class="add-btn" mat-mini-fab type="button">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="w3-row">
    <div *ngFor="let cmd of cmdArray; index as i; trackBy: trackByIdx">
        <div class="w3-col l4 m6 s12 w3-row-padding">
            <mat-form-field>
                <mat-label>Cmd</mat-label>
                <input [(ngModel)]="cmdArray[i]" matInput type="text" />
                <button matSuffix (click)="deleteCmd(i)" mat-icon-button type="button">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>

<div>
    <h4 class="addButtonDiv">Arguments:</h4>
    <button (click)="addArgument()" class="add-btn" mat-mini-fab type="button">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="w3-row">
    <div *ngFor="let args of argsArray; index as i; trackBy: trackByIdx">
        <div class="w3-col l4 m6 s12 w3-row-padding">
            <mat-form-field>
                <mat-label>Args - Key Value</mat-label>
                <input [(ngModel)]="argsArray[i]" class="addButtonDiv" matInput type="text" />

                <button matSuffix (click)="deleteArgument(i)" mat-icon-button type="button">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>
