<mat-card class="register-form">

  <img alt="EdgeIO Logo" mat-card-image src="../../../assets/img/logo-white-bg.png">
  <mat-card-content>
    <form accept-charset="UTF-8" class="form-signup" role="form">

      <div class="form-group">
        <label class="cols-sm-2 control-label" for="username">Username</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input class="form-control" id="username" name="username"
                   placeholder="Enter your Username"
                   type="text">
          </div>
        </div>
      </div>

      <div class="form-group" style="margin-top: 8px">
        <label class="cols-sm-2 control-label" for="email">Email address</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
            <input class="form-control" id="email" name="email"
                   placeholder="Enter your Email Address">
          </div>
        </div>
      </div>

      <div class="form-group" style="margin-top: 8px">
        <label class="cols-sm-2 control-label" for="password">Password</label>
        <label class="cols-sm-2 control-label" for="password">Confirm Password</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
            <input class="form-control" id="password" name="password"
                   placeholder="Enter your Password" type="password">
            <span class="input-group-addon" style= "float: right"> &nbsp;&nbsp;&nbsp;<i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
            <input class="pull-right text-primary" id="password3" name="password"
                   placeholder="Confirm your Password" type="password">
          </div>
        </div>
      </div>

      <div>
        <div style=" display: flex; justify-content: center;">
          <button (click)="submitRegister()" color="primary" mat-button mat-flat-button style="margin-top: 8px;"
                  type="button">Sign up
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>


