<mat-card class="register-form">

  <img alt="EdgeIO Logo" mat-card-image src="../../../assets/img/logo-white-bg.png">
  <mat-card-content>
    <mat-icon style="float: right" matTooltip="Connecting to: {{sm_ip}}">info</mat-icon>
    <form accept-charset="UTF-8" class="form-signup" role="form">
      <div>

        <hr>

        <div style=" display: flex; justify-content: center;">
          <button (click)="submitRegister()" color="primary" mat-button mat-flat-button style="margin-top: 8px;"
                  type="button">Sign up
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>


