.register-form{
  width:80%;
  height: fit-content;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

@media only screen and (min-width: 801px) {
  .login-form {
    width: 40%;
  }
}

@media only screen and (min-width: 1201px) {
  .login-form {
    width: 25%;
  }
}
