<button (click)="multipleFunctions()" class="graph-button" mat-button>
    {{ showConButton }}
    <mat-icon>scatter_plot</mat-icon>
</button>

<!--// TODO Change the way of data excange between the graph and this component -->
<div [style.display]="showConnections ? '' : 'none'" class="wrapper full-width">
    <div class="buttonSide">
        <h2 #type id="typeText"></h2>
        <h4 id="testText">Select Service or Connection</h4>

        <div class="hidden">
            <p #nodeID id="IdText"></p>
            <p #start id="IdLinkStart"></p>
            <p #target id="IdLinkTarget"></p>
            <button
                (click)="openDialog(start.innerText, target.innerText, 'new')"
                id="configureLink"
                mat-flat-button
                color="primary"
            ></button>
        </div>

        <div *ngIf="type.innerText.startsWith('Link'); else nodeButtons">
            <button (click)="openDialog(start.innerText, target.innerText, 'edit')" color="primary" mat-flat-button>
                <mat-icon>settings</mat-icon>
                Configure Connection
            </button>
        </div>

        <ng-template #nodeButtons>
            <button color="primary" id="editElement" mat-flat-button routerLink="deploy/{{ nodeID.innerText }}">
                <mat-icon>settings</mat-icon>
                Configure Service
            </button>
            <button (click)="delete(nodeID.innerText)" mat-button>
                <mat-icon>delete</mat-icon>
            </button>
        </ng-template>
    </div>
</div>

<div *ngIf="showConnections" class="alert alert-info">
    <li>create new connections with drag and drop</li>
    <li>you can move a service if you hold CTRL</li>
    <li>use the configure button to edit a service or a connection</li>
</div>

<div [style.display]="showConnections ? '' : 'none'" class="graphSide" id="graph">
    <div class="graph"></div>
</div>
