<form [formGroupName]="formGroupName">
    <div class="w3-row">
        <div class="w3-col l4 m4 s6 w3-row-padding">
            <nb-form-field>
                <input placeholder="Longitude" (change)="updateLongLat()" nbInput type="number" />
            </nb-form-field>
        </div>

        <div class="w3-col l4 m4 s6 w3-row-padding">
            <nb-form-field>
                <input placeholder="Latitude" (change)="updateLongLat()" nbInput type="number" />
            </nb-form-field>
        </div>
        <div class="w3-col w3-rest"></div>

        <div class="w3-col l4 m4 s12 w3-row-padding">
            <nb-form-field>
                <input nbInput placeholder="Threshold" formControlName="threshold" type="number" />
                <span nbSuffix>km&#160;</span>
            </nb-form-field>
        </div>

        <div class="w3-col l4 m4 s12 w3-row-padding">
            <nb-form-field>
                <input
                    nbInput
                    placeholder="Rigidness"
                    formControlName="rigidness"
                    max="100"
                    min="0"
                    type="number"
                    value="0"
                />
                <span nbSuffix>%&#160;</span>
            </nb-form-field>
        </div>

        <div class="w3-col l4 m4 s12 w3-row-padding">
            <nb-form-field>
                <input
                    nbInput
                    placeholder="Convergence Time"
                    formControlName="convergence_time"
                    type="number"
                    value="300"
                />
                <span nbSuffix>sec&#160;</span>
            </nb-form-field>
        </div>
    </div>
</form>
