<div class="upload-container">
    <div class="filename-header">
        {{ filename }}
    </div>

    <div class="editor-area">
        <p>The file can be a full SLA descriptor (CLI/API standard) or a microservice list. Also it can be edited before uploading.</p>
        <textarea [(ngModel)]="jsonContent" nbInput fullWidth rows="20"></textarea>
    </div>

    <div class="actions-area">
        <input #fileUpload (change)="loadFile($event)" accept="application/JSON" class="file-input" type="file" />

        <button (click)="fileUpload.click()" nbButton status="info" type="button">Select File</button>

        <button (click)="uploadDocument()" [disabled]="!jsonContent" color="primary" nbButton type="button">
            Upload Config
        </button>

        <p>Supported formats: CLI/API SLA (v2.0) or legacy microservice array.</p>
    </div>
</div>
