<div (click)="fileUpload.click()" class="content">
    {{ filename }}
    <div class="sample-code">
        <p>The file can be a full SLA descriptor (CLI/API standard) or a microservice list.</p>
        <pre>{{ sampleService | json }}</pre>
    </div>
</div>

<div class="file-upload-div">
    <div class="file-upload">
        <input #fileUpload (change)="loadFile($event)" accept="application/JSON" class="file-input" type="file" />
    </div>
    <button (click)="uploadDocument()" [disabled]="file === undefined" color="primary" nbButton type="button">
        Upload Config
    </button>
    <p>Supported formats: CLI/API SLA (v2.0) or legacy microservice array.</p>
</div>
