@media only screen and (max-width: 450px) {
    .registeredRow {
        display: none;
    }
}

.mat-header-cell {
    text-align: center;
}

.mat-icon-button {
    line-height: 0;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.search {
    width: 100%;
    margin-top: 3vh;
}

.input-field {
    width: 90%;
}

.user-search {
    padding-top: 30px;
}

.createDiv {
    padding-top: 10px;
}
