nb-tag{
  border: none;
}

@media only screen and (max-width: 450px) {
    .registeredRow {
        display: none;
    }
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.search {
    width: 100%;
    margin-top: 3vh;
}

.input-field {
    width: 90%;
}

.user-search {
    padding-top: 30px;
}

.createDiv {
    padding-top: 10px;
    text-align: end;
}

.admin-chip {
  background-color: #DE686B !important;
}

.provider-chip {
  background-color: #3DA23C !important;
}

.organization-chip {
  background-color: #ADA23C !important;
}

.infra-chip {
  background-color: #2199a8 !important;
}
