<div class="content-cards">
    <nb-card class="serviceCard">
        <nb-card-header> User Management </nb-card-header>
        <nb-card-body>
            <div class="w3-row user-search">
                <div class="w3-col l4 m4">
                    <nb-form-field>
                        <input
                            type="text"
                            [(ngModel)]="searchText"
                            fullWidth
                            nbInput
                            placeholder="Search by username"
                            (ngModelChange)="doFilter($event)"
                        />
                        <button *ngIf="searchText" nbSuffix nbButton ghost (click)="resetSearch()">
                            <nb-icon icon="close" pack="eva"> </nb-icon>
                        </button>
                    </nb-form-field>
                </div>

                <div class="w3-col l4 m4">
                    <nb-card-body>
                        <nb-select
                            (selectedChange)="doFilter(searchText)"
                            [formControl]="dropdown"
                            fullWidth
                            multiple
                            placeholder="Multiple Select"
                        >
                            <nb-option *ngFor="let dropdown of dropdownList" [value]="dropdown">
                                {{ dropdown }}
                            </nb-option>
                        </nb-select>
                    </nb-card-body>
                </div>

                <div class="w3-col l4 m4 createDiv">
                    <button (click)="openDialog(DialogAction.ADD)" nbButton size="small" status="basic">
                        <nb-icon icon="plus"></nb-icon>
                        Create New User
                    </button>
                </div>
            </div>
            <table [dataSource]="searchedUsers" mat-table>
                <ng-container matColumnDef="name">
                    <th *matHeaderCellDef mat-header-cell>Username</th>
                    <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <th *matHeaderCellDef class="registeredRow" mat-header-cell>Registered at</th>
                    <td *matCellDef="let element" class="registeredRow" mat-cell>{{ element.created_at }}</td>
                </ng-container>

                <ng-container matColumnDef="roles">
                    <th *matHeaderCellDef mat-header-cell>Roles</th>
                    <td *matCellDef="let element" mat-cell>
                        <nb-tag-list aria-label="roles">
                            <nb-tag
                                *ngFor="let e of element.roles"
                                [text]="e"
                                [class.admin-chip]="e === 'Admin'"
                                [class.provider-chip]="e === 'Application_Provider'"
                                [class.organization-chip]="e === 'Organization_Admin'"
                                [class.infra-chip]="e === 'Infrastructure_Provider'"
                                selected
                            >
                            </nb-tag>
                        </nb-tag-list>
                    </td>
                </ng-container>

                <ng-container matColumnDef="symbol">
                    <th *matHeaderCellDef mat-header-cell class="alignCenter"></th>
                    <td *matCellDef="let element" mat-cell class="alignRight">
                        <button (click)="openDialog(DialogAction.UPDATE, element)" nbButton ghost>
                            <nb-icon icon="settings" pack="eva"> </nb-icon>
                        </button>
                        <button (click)="openDeleteDialog(element)" nbButton ghost>
                            <nb-icon icon="trash" pack="eva"> </nb-icon>
                        </button>
                    </td>
                </ng-container>

                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
            </table>
        </nb-card-body>
    </nb-card>
</div>
