<div class="content-cards">
  <mat-card class="serviceCard">

    <mat-card-title>User Management</mat-card-title>

    <div>
      <button (click)="openDialog('add', {})" color="primary" mat-flat-button style="float: right; background-color: #4A7083">
        <mat-icon>add_circle_outline</mat-icon>
        Create New User
      </button>
    </div>

    <br>

    <div class="w3-row" style="padding-top: 40px">

      <div class="w3-col l4 m5">
        <mat-form-field appearance="fill" style="width: 90%">
          <mat-label>Search by username</mat-label>
          <input [(ngModel)]="searchText" matInput type="text">
        </mat-form-field>
      </div>

      <div class="w3-col l4 m5">
        <mat-form-field appearance="fill" style="width: 90%">
          <mat-label>Roles</mat-label>
          <mat-select [formControl]="dropdown" multiple>
            <mat-select-trigger>
              {{dropdown.value ? dropdown.value : ''}}
              <span *ngIf="dropdown.value?.length > 1" class="example-additional-selection">
                      (+{{dropdown.value.length - 1}} {{dropdown.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let dropdown of dropdownList" [value]="dropdown">{{dropdown}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="w3-col l2 m7">
        <button (click)="search()" color="primary" style="background-color: #4A7083" mat-flat-button>
          <mat-icon>search</mat-icon>
          Search
        </button>
      </div>

    </div>

    <table [dataSource]="searchedUsers" class="mat-elevation-z8" mat-table style="width: 100%; margin-top: 3vh">

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Username</th>
        <td *matCellDef="let element" mat-cell> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th *matHeaderCellDef class="registeredRow" mat-header-cell> Registered at</th>
        <td *matCellDef="let element" class="registeredRow" mat-cell> {{element.created_at}} </td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th *matHeaderCellDef mat-header-cell> Roles</th>
        <td *matCellDef="let element" mat-cell>
          <mat-chip-list aria-label="roles">
            <mat-chip *ngFor="let e of element.roles"
                      [ngStyle]="{'background-color': (e.name == 'Admin')? '#3f51b5': (e.name == 'Application_Provider')? 'green' : '#b626b4'}"
                      selected>
              {{e.name}}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th *matHeaderCellDef mat-header-cell style="text-align: center"></th>
        <td *matCellDef="let element" mat-cell style="text-align: right">
          <button (click)="openDialog('edit', element)" mat-icon-button>
            <span><mat-icon>settings</mat-icon></span>
          </button>
          <button (click)="openDeleteDialog(element)" mat-icon-button>
            <span><mat-icon>delete</mat-icon></span>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>
  </mat-card>
</div>
