<h2 mat-dialog-title>Status: {{status}}</h2>
<mat-dialog-content class="mat-typography">

  <div class="alert alert-info" style="width: 70vw">
    <p style="margin: 0">{{details}}</p>
  </div>

  <a *ngIf="(instance_list != null)" [href]=grafanaLink rel="noopener noreferrer" target="_blank">View in Grafana</a>

  <line-chart *ngIf="(instance_list != null)" [instance_list]=instance_list></line-chart>

</mat-dialog-content>

<mat-dialog-actions class="alignRight">
  <button (click)="closeDialog()" color="primary" mat-button mat-flat-button>Close</button>
</mat-dialog-actions>
