<h2 mat-dialog-title>Status: {{status}}</h2>
<mat-dialog-content class="mat-typography">

  <div class="alert alert-info" style="width: 70vw">
    <p style="margin: 0">{{details}}</p>
  </div>

  <a *ngIf="(usage != undefined)" [href]=grafanaLink target="_blank" rel="noopener noreferrer">View in Grafana</a>

  <line-chart *ngIf="(usage != undefined)" [usage]=usage></line-chart>

</mat-dialog-content>

<mat-dialog-actions class="alignRight">
  <button (click)="closeDialog()" color="primary" mat-button mat-flat-button>Cancel</button>
</mat-dialog-actions>
