<nb-card>
    <nb-card-header> Requirements: </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <div class="w3-row">
                <div class="w3-col l3 m4 s6 w3-row-padding">
                    <nb-form-field>
                        <label class="label">Memory</label>
                        <input
                            nbInput
                            min="0"
                            formControlName="memory"
                            value="1024"
                            placeholder="Memory"
                            required
                            type="number"
                            label="asd"
                        />
                        <span nbSuffix>MB&#160;</span>
                    </nb-form-field>
                </div>

                <div class="w3-col l3 m4 s6 w3-row-padding">
                    <nb-form-field>
                        <label class="label">Vcpus</label>
                        <input
                            nbInput
                            min="0"
                            formControlName="vcpus"
                            placeholder="Vcpus"
                            required
                            type="number"
                            value="1"
                        />
                    </nb-form-field>
                </div>

                <div class="w3-col l3 m4 s6 w3-row-padding">
                    <nb-form-field>
                        <label class="label">Vgpus</label>
                        <input
                            nbInput
                            min="0"
                            placeholder="Vgpus"
                            formControlName="vgpus"
                            required
                            type="number"
                            value="0"
                        />
                    </nb-form-field>
                </div>

                <div class="w3-col l3 m4 s6 w3-row-padding">
                    <nb-form-field>
                        <label class="label">Vtpus</label>
                        <input
                            nbInput
                            placeholder="Vtpus"
                            min="0"
                            formControlName="vtpus"
                            required
                            type="number"
                            value="0"
                        />
                    </nb-form-field>
                </div>

                <div class="w3-col l3 m4 s6 w3-row-padding">
                    <nb-form-field>
                        <label class="label">Bandwidth In</label>
                        <input
                            nbInput
                            nbTooltip="Minimum bandwidth-ingress needed for service"
                            min="0"
                            required
                            type="number"
                            value="0"
                            formControlName="bandwidth_in"
                            placeholder="Bandwidth In"
                        />
                        <span nbSuffix>KB&#160;</span>
                    </nb-form-field>
                </div>

                <div class="w3-col l3 m4 s6 w3-row-padding">
                    <nb-form-field>
                        <label class="label">Bandwidth Out</label>
                        <input
                            nbInput
                            nbTooltip="Minimum bandwidth-egress needed for service"
                            min="0"
                            required
                            type="number"
                            value="0"
                            formControlName="bandwidth_out"
                            placeholder="Bandwidth_out"
                        />
                        <span nbSuffix>KB&#160;</span>
                    </nb-form-field>
                </div>

                <div class="w3-col l3 m4 s6 w3-row-padding">
                    <nb-form-field>
                        <label class="label">Storage</label>
                        <input
                            nbInput
                            placeholder="Storage"
                            min="0"
                            formControlName="storage"
                            required
                            type="number"
                            value="0"
                        />
                        <span nbSuffix>MB&#160;</span>
                    </nb-form-field>
                </div>

                <div class="w3-col l3 m4 s6 w3-row-padding">
                    <nb-form-field>
                        <label class="label">Port</label>
                        <input
                            placeholder="Port"
                            nbInput
                            formControlName="port"
                            nbTooltip="Port for exposure of the service"
                            required
                            type="text"
                        />
                    </nb-form-field>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
