.service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin: 5px;
}

.app-select {
    display: flex;
    align-items: center;
}

.servicesList {
    padding: 10px;
}