<nb-card>
    <nb-card-header>
        <div class="service-header">
            <h1>Services</h1>
            <div class="app-select">
                <h2>Application: &nbsp;</h2>
                <nb-select [(selected)]="selectedItems" (selectedChange)="setCurrentApplication()"  multiple>
                    <nb-option *ngFor="let app of apps$ | async" [value]="app">
                        {{ app.application_name }}
                    </nb-option>
                </nb-select>
            </div>
        </div>
    </nb-card-header>
</nb-card>

<nb-card>
    <nb-card-header> Service List </nb-card-header>
    <nb-card-body [nbSpinner]="isLoading" nbSpinnerSize="large">
        <div *ngIf="currentApp$ | async">
            <div *ngIf="(services$ | async).length > 0" class="servicesList">
                <app-service-item
                    *ngFor="let service of services$ | async"
                    [service]="service"
                    [appId]="(currentApp$ | async)._id.$oid"
                ></app-service-item>
                <br />
                <div>
                    <button id="createService" nbButton routerLink="/control/deploy" color="primary" [disabled]="nodeDisabled">
                        <nb-icon icon="plus"></nb-icon>
                        Create New Service
                    </button>
                    <button (click)="deployAllServices()" nbButton type="button" color="primary">
                        <nb-icon icon="paper-plane-outline"></nb-icon>
                        Deploy All
                    </button>
                </div>
            </div>
            <div *ngIf="(services$ | async).length === 0" class="content">
                <p>No Service in this application.</p>
                <br />
                <div class="alignEnd">
                    <button id="createServiceEmpty" nbButton routerLink="/control/deploy" color="primary" [disabled]="nodeDisabled">
                        <nb-icon icon="plus"></nb-icon>
                        Create new service
                    </button>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<!--<nb-card>-->
<!--TODO Refactor this graph-->
<!--    <graph (updated)="deleteServiceWithGraph($event)" [services]="services$ | async"></graph>-->
<!--</nb-card>-->
