<nb-card>
    <nb-card-header> Settings </nb-card-header>
    <nb-card-body>
        <h2>Configure SMTP server:</h2>
        <nb-radio-group class="radio-group" [(ngModel)]="selectedOption">
            <nb-radio
                class="option"
                *ngFor="let o of options"
                [value]="o"
                [disabled]="o === ConfigurationType.OAKESTRA"
            >
                {{ o }}
            </nb-radio>
        </nb-radio-group>
        <div *ngIf="selectedOption === 'None'">
            This will disable some functions:
            <ul>
                <li>Users do not receive mail when they change their password</li>
                <li>New users do not receive a mail that an account was created for them</li>
                <li>
                    Users can't reset their password in the usual way because they can't receive the mail, the admin has
                    to reset the password.
                </li>
            </ul>
        </div>
        <div *ngIf="selectedOption === ConfigurationType.CUSTOME">
            <div [formGroup]="form" class="form">
                <nb-form-field>
                    <input placeholder="Server Address" nbInput formControlName="address" />
                </nb-form-field>

                <nb-form-field>
                    <input placeholder="Port" nbInput formControlName="port" />
                </nb-form-field>
                <nb-form-field>
                    <input placeholder="Username" nbInput formControlName="username" />
                </nb-form-field>

                <nb-form-field>
                    <input placeholder="Password" nbInput formControlName="password" />
                </nb-form-field>

                <nb-checkbox class="checkbox" formControlName="ssl">Use SSL</nb-checkbox>
            </div>
        </div>
        <div *ngIf="selectedOption === 'Oakestra'">Your favorite season is: {{ selectedOption }}</div>
        <button (click)="save()" nbButton color="primary" type="submit">Save</button>
    </nb-card-body>
</nb-card>
