.radio-group {
    display: flex;
    width: 50vh;
    font-size: 0.5em;
    justify-content: space-between;
    padding-bottom: 20px;
}

nb-form-field,
.checkbox,
.button {
    padding: 10px 0 10px 0;
}

.button {
    margin: 10px 0 10px 0;
}
