<nb-card>
    <nb-card-header> Connection settings </nb-card-header>
    <nb-card-body>
        <div class="radioDiv">
            <nb-radio-group [(ngModel)]="data.type" required>
                <nb-radio (change)="onRadioChange($event)" class="blackRadio" value="latency"> latency </nb-radio>
                <nb-radio (change)="onRadioChange($event)" class="blackRadio" value="geo">geo</nb-radio>
            </nb-radio-group>
        </div>

        <div class="w3-row">
            <div class="w3-col l4 m4 s12 w3-row-padding">
                <nb-form-field>
                    <input [(ngModel)]="data.threshold" nbInput placeholder="Threshold" type="number" />
                    <span nbSuffix>ms&#160;</span>
                </nb-form-field>
            </div>

            <div class="w3-col l4 m4 s12 w3-row-padding">
                <nb-form-field>
                    <input
                        [(ngModel)]="data.rigidness"
                        nbInput
                        max="100"
                        min="0"
                        placeholder="Rigidness"
                        type="number"
                    />
                    <span nbSuffix>%&#160;</span>
                </nb-form-field>
            </div>

            <div class="w3-col l4 m4 s12 w3-row-padding">
                <nb-form-field>
                    <input [(ngModel)]="data.convergence_time" nbInput placeholder="Convergence Time" type="number" />
                    <span nbSuffix>sec&#160;</span>
                </nb-form-field>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button (click)="save(data)" status="primary" nbButton>Save</button>
        <button (click)="cancel()" status="accent" nbButton>Cancel</button>
    </nb-card-footer>
</nb-card>
