<nb-card>
    <nb-card-header>{{title}}</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <nb-form-field class="full-width input">
                <input formControlName="name" nbInput placeholder="Username" />
                <div *ngIf="name!.touched && name!.invalid">
                    <div *ngIf="form.errors?.['containsWhitespace']" class="alert alert-danger">
                        Username contains whitespace
                    </div>
                </div>
            </nb-form-field>

            <nb-form-field class="full-width">
                <input email formControlName="email" nbInput required placeholder="E-Mail" type="email" />
            </nb-form-field>

            <div *ngIf="action === DialogAction.ADD">
                <nb-form-field class="full-width">
                    <input formControlName="password" placeholder="Password" nbInput required />
                </nb-form-field>
            </div>

            <div *ngIf="action === DialogAction.ADD" class="download-credentials">
                <button (click)="downloadCredentials()" nbButton status="primary">Download Credentials</button>
            </div>

            <div class="w3-col l12 s12 m12">
                <h3>Roles</h3>
                <section class="example-section" [formGroup]="roleOptions">
                    <p *ngFor="let r of roles">
                        <nb-checkbox [formControlName]="r">{{r}}</nb-checkbox>
                    </p>
                </section>
            </div>
        </form>
    </nb-card-body>

    <nb-card-footer class="alignRight">
        <button (click)="doAction()" [disabled]="!form.valid" nbButton status="primary">{{buttonText}}</button>
        <button (click)="closeDialog()" nbButton status="accent">Cancel</button>
    </nb-card-footer>
</nb-card>
