.download-credentials {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 8px;
}

nb-form-field {
    padding: 10px 0 10px 0
}

button {
    margin: 10px 0 0 10px
}

.hide-password-button {
    cursor: pointer;
}
