mat-toolbar {
  /* background: #004a9f;*/
  background: #4A7083;
  color: white;
  justify-content: space-between;
}

mat-sidenav {
  margin: 16px;
  width: 300px;
  border-right: none;
  background: #3B474E;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  text-align: center;
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px 16px 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  flex: 1;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

mat-card {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 10px;
  height: 50px;
}

mat-card-title {
  /* background: #004a9f;*/
  background-color: #4A7083;
  padding: 16px;
  border-radius: 4px;
  color: white;
}

mat-card p {
  margin-bottom: 0;
}

.content-cards {
  border-radius: 10px;
  margin: 16px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.serviceCard {
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.appSelectLable {
  color: white;
}

.appSelectLable {
  /* background: #002b5c;*/
  background-color: #4A7083;
}

body {
  background-color: #4A7083;
}

::ng-deep  .mat-radio-outer-circle {
  border-color: white
}

mat-list-item {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

mat-list-item:hover {
  background: #3E4E57;
}

mat-list-item .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-list-item i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}

mat-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

mat-list-item a .link_name{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

mat-list-item .sub-menu{
  padding: 6px 6px 14px 40px;
  margin-top: -10px;
  background: #3E4E57;
  /*display: none;*/
}


mat-list-item.showMenu i.bx-chevron-down {
  transform: rotate(-180deg);
}

mat-list-item .sub-menu mat-list-item{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

mat-list-item .sub-menu a:hover {
  opacity: 1;
}

mat-icon #toolBar {
  cursor: pointer;
}

mat-card{
  width: fit-content;
  height: fit-content;
  margin: 8px;
}
