mat-toolbar {
    background: #4a7083;
    color: white;
    justify-content: space-between;
}

mat-sidenav {
    margin: 16px;
    width: 250px;
    border-right: none;
    background: #3b474e;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    text-align: center;
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px 16px 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
    flex: 1;
}

mat-card-title {
    /* background: #004a9f;*/
    background-color: #4a7083;
    padding: 16px;
    border-radius: 4px;
    color: white;
}

.mat-mdc-unelevated-button .mat-mdc-button-touch-target {
    background-color: #3b474e;
}

mat-card p {
    margin-bottom: 0;
}

.serviceCard {
    height: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}

::ng-deep .mat-radio-outer-circle {
    border-color: white;
}

mat-list-item {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

mat-list-item:hover {
    background: #3e4e57;
}

mat-list-item .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

mat-list-item i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
}

mat-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

mat-list-item a .link_name {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

mat-list-item .sub-menu {
    padding: 6px 6px 14px 40px;
    margin-top: -10px;
}

mat-list-item.showMenu i.bx-chevron-down {
    transform: rotate(-180deg);
}

mat-list-item .sub-menu mat-list-item {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

mat-list-item .sub-menu a:hover {
    opacity: 1;
}

mat-icon #toolBar {
    cursor: pointer;
}

mat-card {
    width: fit-content;
    height: fit-content;
    margin: 8px;
    left: 64px;
}

.map-container {
    align-content: center;
    height: 140px;
    width: 250px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.noinstance {
    text-align: center;
    color: #d3d3d3;
    font-size: large;
}

.favicon {
    height: 64px;
}

.panel-title {
    color: white;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidenav-text {
    color: white;
}

.nav-links {
    padding: 0;
}

.nav-item {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #3b474e;
}
/*
/deep/ .application-panel .mat-expansion-indicator::after {
    color: white !important;
}*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navButton {
    width: 90%;
    background: transparent !important;

  mat-icon {
    color: white !important;
  }
}
