<script src="https://cdn.jsdelivr.net/npm/shepherd.js@latest/dist/js/shepherd.min.js"></script>
<link rel="shortcut icon" href="#">

<mat-toolbar class="mat-elevation-z8">

  <button (click)="sidenav.toggle()" *ngIf="sidenav.mode === 'over'" mat-icon-button>
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>

  <button id="homeNavbar" mat-button routerLink="/control" style="font-size: inherit">
    <img src="favicon.ico" style="height: 64px">
  </button>

  <span class="example-spacer"></span>

  <!--  <button id="createService" mat-icon-button routerLink="/control/deploy">-->
  <!--    <mat-icon>add_circle</mat-icon>-->
  <!--  </button>-->

  <button [matMenuTriggerFor]="menu" id="userSetting" mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/control/profile">
      <mat-icon>person</mat-icon>
      Profile
    </button>
    <button (click)="show()" *ngIf="isAdmin" mat-menu-item routerLink="users">
      <mat-icon>people</mat-icon>
      User Management
    </button>
    <button (click)="logout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-menu>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <h4 class="name">Hello {{username}}</h4>

    <div id="homeSidenav">
      <mat-divider></mat-divider>
      <button class="menu-button" mat-button routerLink="/control">
        <span>Home</span>
      </button>
    </div>

    <div id="applicationTitle">
      <mat-divider></mat-divider>

      <div *ngFor="let app of app " style="display: flex; justify-content: space-between;align-items: center">

        <mat-radio-group (change)="handleChange()" [(ngModel)]="active" routerLink="/control">
          <mat-radio-button [value]="app._id" class="menu-button">
            <span style="float: left">{{app.application_name}}</span>
          </mat-radio-button>
        </mat-radio-group>

        <button (click)="openDialog('Update',app)" mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </div>

      <button (click)="openDialog('Add',{})" class="menu-button" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>

    <button class="menu-button" mat-button routerLink="help">
      <span>Help</span>
    </button>

    <!--<mat-divider></mat-divider>

    <button class="menu-button" mat-button routerLink="survey">
      <span>Survey</span>
    </button>-->

  </mat-sidenav>
  <mat-sidenav-content id="content">

    <div *ngIf="!appSelected && !settings" class="content mat-elevation-z8">
      No Application selected.
    </div>

    <router-outlet *ngIf="appSelected || settings"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
