<button (click)="multipleFunctions()" color="primary" mat-button>{{showConButton}}</button>

<div [style.display]=" showConnections ? '' : 'none'" class="wrapper"
     style="width: 100%; overflow: hidden;">
  <div class="buttonSide" style="width: 20vw; float:left;">
    <h2 #type id="typeText"></h2>
    <h4 id="testText">Select Node or Connection</h4>

    <div style="display: none">
      <p #nodeID id="IdText"></p>
      <p #start id="IdLinkStart"></p>
      <p #target id="IdLinkTarget"></p>
      <button (click)="openDialog(start.innerText, target.innerText, 'new')" id="configureLink" mat-button
              mat-flat-button
              style="display: none">
      </button>
    </div>

    <div *ngIf="type.innerText.startsWith('Link') else nodeButtons">
      <button (click)="openDialog(start.innerText, target.innerText, 'edit')" color="primary" mat-button
              mat-flat-button>
        <mat-icon>settings</mat-icon>
        Configure Connection
      </button>
    </div>

    <ng-template #nodeButtons>
      <button color="primary" id="editElement" mat-button mat-flat-button routerLink="deploy/{{nodeID.innerText}}">
        <mat-icon>settings</mat-icon>
        Configure Node
      </button>
      <button (click)="delete(nodeID.innerText)" mat-button>
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>

  </div>
</div>

<div *ngIf="showConnections" class="alert alert-info">
  <li>create new connections with drag and drop</li>
  <li>you can move a node if you hold CTRL</li>
  <li>Use the configure button to edit a node or an edge</li>
</div>

<div [style.display]=" showConnections ? '' : 'none'" class="graphSide" id="graph"
     style="overflow: hidden; margin-top: 20px">
  <div class="graph"></div>
</div>
