<button (click)="multipleFunctions()" color="primary" mat-button>{{showConButton}}</button>
<div [style.display]=" showConnections ? '' : 'none'" class="wrapper" style="width: 100%; overflow: hidden;">
  <div class="buttonSide" style="width: 20vw; float:left;">
    <h2 #type id="typeText"></h2>
    <h4 id="testText">Select Node or Connection</h4>

    <!--    // TODO find better way to exchange the data-->
    <div style="display: none">
      <p #nodeID id="IdText"></p>
      <p #start id="IdLinkStart"></p>
      <p #target id="IdLinkTarget"></p>
    </div>
    <div *ngIf="type.innerText.startsWith('Link') else nodeButtons">
      <button (click)="openDialog(start.innerText, target.innerText)" mat-button>
        <mat-icon>person</mat-icon>
      </button>
      <button (click)="deleteOnlyLink()" mat-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <ng-template #nodeButtons>
      <button id="editElement" mat-button routerLink="/deploy/{{nodeID.innerText}}">
        <mat-icon>settings</mat-icon>
      </button>
      <button (click)="delete(nodeID.innerText)" id="deleteLink" mat-button>
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </div>
  <div class="graphSide" id="graph" style="overflow: hidden;">
    <div class="graph"></div>
  </div>
</div>
