<nb-card>
    <nb-card-header> General information: </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <div class="w3-row">
                <div class="w3-col l6 s12 w3-row-padding">
                    <nb-form-field>
                        <input
                            nbInput
                            formControlName="microservice_namespace"
                            placeholder="Service Namespace"
                            required
                            fullWidth
                        />
                    </nb-form-field>
                </div>

                <div class="w3-col l6 s12 w3-row-padding">
                    <nb-form-field>
                        <input
                            nbInput
                            fullWidth
                            formControlName="microservice_name"
                            placeholder="Service Name"
                            required
                        />
                    </nb-form-field>
                </div>

                <div class="w3-col l6 s12 w3-row-padding">
                    <nb-select formControlName="virtualization" fullWidth placeholder="Virtualization" required>
                        <nb-option value="container">Container</nb-option>
                        <nb-option value="unikernel">Unikernel</nb-option>
                        <nb-option value="vm">Vm</nb-option>
                    </nb-select>
                </div>

                <div class="w3-col l12 s12 w3-row-padding">
                    <nb-form-field>
                        <textarea
                            cols="3"
                            fullWidth
                            nbInput
                            formControlName="description"
                            placeholder="Description of the service"
                        ></textarea>
                    </nb-form-field>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
