<div class="addButtonDiv">
    <h4>Connectivity:&nbsp;</h4>
    <button (click)="addConnectivity()" class="add-btn" size="large" nbButton ghost>
        <nb-icon icon="plus"></nb-icon>
    </button>
</div>

<div>
    <div *ngFor="let conn of connectivity; let i = index" id="contentInside">
        <div class="w3-row">
            <div class="w3-col l6 m6 s6 w3-row-padding">
                <nb-form-field>
                    <label class="label">Target Service</label>
                    <nb-select fullWidth placeholder="target_microservice_id {{ conn.target_microservice_id }}">
                        <nb-option *ngFor="let s of dropdownServices" [value]="s._id.$oid">
                            {{ s.microservice_name }}
                        </nb-option>
                    </nb-select>
                </nb-form-field>
            </div>

            <button (click)="openDialog(i)" nbButton ghost>
                <nb-icon icon="settings"></nb-icon>
            </button>
            <button (click)="deleteConnection(i)" nbButton ghost>
                <nb-icon icon="trash-2"></nb-icon>
            </button>
        </div>
    </div>
</div>
