.content {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
    padding-top: 20px;
}

.file-upload-div {
    text-align: center;
}
