<div class="container">
    Clusters:
    <div class="row">
        <div *ngFor="let cluster of clusters$ | async" class="col-sm-4">
            <nb-card id="my_card">
                <nb-card-header>
                    {{ cluster.cluster_name }}
                </nb-card-header>
                <nb-card-body *ngIf="cluster._id">
                    Cluster ID {{ cluster._id }}
                    supported virtualizations: {{ cluster.virtualization }}
                    <div class="map-container">
                        <div class="map-frame">
                            <div id="card_map"></div>
                            <p>
                                The cluster is located in: [{{ cluster.cluster_location }},
                                {{ cluster.cluster_location }}]
                            </p>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>
