<div class="container">
    <div class="row">
        <div *ngFor="let cluster of clusters">
            <nb-card id="my_card">
                <nb-card-header>
                    {{ cluster.cluster_name }}
                    Cluster ID {{ cluster._id.$oid }}
                </nb-card-header>
                <nb-card-body *ngIf="cluster.pairing_complete">
                    <div class="map-container">
                        <div class="map-frame">
                            <div id="card_map"></div>
                            <p>
                                The cluster is located in: [{{ cluster.cluster_latitude }},
                                {{ cluster.cluster_longitude }}]
                            </p>
                        </div>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <button *ngIf="!cluster.pairing_complete" nbButton>
                        <div *ngIf="!cluster.pairing_complete" class="noinstance">
                            <p>NOT YET ACTIVE</p>
                        </div>
                    </button>
                    <button (click)="deleteCluster(cluster)" nbButton><nb-icon icon="trash-2"></nb-icon></button>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>
</div>
