<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">

  <div class="w3-row">
    <div class="w3-col l6 s12 m6">
        <label><i>Cluster ID</i></label>
        <!--<input [(ngModel)]="local_data._id.$oid" disabled matInput>*-->
    </div>
  </div>

  <div class="w3-col l12 s12 m12">
    <mat-form-field class="full-width" style="padding-right: 8px">
      <p>Write the name of your Cluster</p>
      <textarea class="form-control"
                name="message"
                [disabled]="action ==='Update'"
                rows="1"
                [(ngModel)]="local_data.cluster_name"
                placeholder="Cluster name"
                #message='ngModel'
      ></textarea>
      <!-- TODO: alert of too long title still has to work-->
      <mat-option *ngIf = "message.touched && message.invalid" class="alert alert-danger">
        Cluster name is required
      </mat-option>
      <p id = "result" ></p>
      </mat-form-field>
  </div>

  <div class="w3-col l12 s12 m12">
    <mat-form-field class="full-width">
    <p>Select Cluster Location</p>

      <form class="card-form">
        <div class="row">
          <div class="col-6 m2" >
            <label for="lat">Latitude</label>
            <input type="text" id="lat" [disabled]="action ==='Update'"
                   [(ngModel)]="local_data.cluster_latitude"
                   placeholder="latitude"
                   [formControl]="lat_form" required>
          </div>
          <div class="col-6 m2" >
            <label for="lat">Longitude</label>
            <input type="text" id="lng" [disabled]="action ==='Update'"
                   [(ngModel)]="local_data.cluster_longitude"
                   placeholder="longitude"
                   [formControl]="lng_form" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6 m2" >
            <label for="lat">Radius</label>
            <input type="text" name="rad" id="rad" [disabled]="action ==='Update'"
                   placeholder="radius" value="{{my_radius}}" #newValue
                   (change)="radiusChange(newValue)" required>
            <!--[(ngModel)]="local_data.cluster_radius"-->
          </div>
        </div>
      </form>


    <div class="map-container">
      <div class="map-frame">
          <div id="map"></div>
          <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"/>
        </div>
    </div>
    <!-- TODO: make sure only numbers can be written down in the location fields-->
  </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions class="alignRight">
  <button (click)="doAction()" color="primary" style="background-color: #4A7083" mat-button mat-flat-button>{{local_data.action}}</button>
  <button (click)="deleteCluster()" *ngIf="action ==='Update'" color="A8363F" mat-button mat-flat-button>Delete
  </button>
  <button (click)="closeDialog()" color="primary" style="background-color: #7B97A5" mat-button mat-flat-button>Cancel</button>
</mat-dialog-actions>

<script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>
