<mat-card class="resetForm">
    <mat-card-title>Change Password</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" accept-charset="UTF-8">
            <div class="form-group">
                <label class="cols-sm-2 control-label" for="newPassword">New Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
                        <input
                            class="form-control"
                            formControlName="newPass"
                            id="newPassword"
                            placeholder="New password"
                            type="password"
                        />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="cols-sm-2 control-label" for="confirmNewPassword">Confirm new password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
                        <input
                            class="form-control"
                            formControlName="confirmPass"
                            id="confirmNewPassword"
                            placeholder="Confirm password"
                            type="password"
                        />
                    </div>
                    <div *ngIf="form.get('confirmPass')!.touched && !samePasswords" class="alert alert-danger">
                        Please enter the same password again to confirm.
                    </div>
                </div>
            </div>
            <div class="saveButton">
                <button
                    [disabled]="!form.valid || !samePasswords"
                    (click)="submitNewPassword()"
                    color="primary"
                    mat-button
                    mat-flat-button
                    type="button"
                >
                    Save new password
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
