<mat-drawer-container class="organization-sidenav">
    <mat-drawer class="organization-sidenav-side" mode="side" opened>
        <div class="sidenav-buttons">
            <button mat-flat-button (click)="back.emit()" class="updateButton">
                <mat-icon>arrow_back</mat-icon>
                Back
            </button>
        </div>
        <div class="organization-list">
            <div
                class="organization-entry"
                [class.selected]="o._id === selected?._id"
                *ngFor="let o of organizations$ | async"
            >
                <button (click)="changeSelected(o)" class="organization-button" type="button">
                    <mat-icon>fiber_manual_record</mat-icon>
                    {{ o.name }}
                </button>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="matContainer">
        <div>
            <h2>Current Organization: {{ selected?.name }}</h2>
        </div>
        <mat-tab-group>
            <mat-tab class="tab" label="General">
                <div class="tab">
                    <mat-form-field appearance="fill" class="input-field searchForm">
                        <mat-label>Organization Name</mat-label>
                        <input (change)="save()" matInput type="text" [(ngModel)]="name" />
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Manage Members ({{ selected?.member.length }})">
                <div class="tab">
                    <div class="w3-row addOrganization">
                        <div class="w3-col l7 m8">
                            <mat-form-field appearance="fill" class="input-field searchForm">
                                <mat-label>Search by username</mat-label>
                                <input (ngModelChange)="search($event)" matInput [(ngModel)]="searchText" type="text" />
                                <button *ngIf="searchText" matSuffix mat-icon-button (click)="resetSearch()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <div class="w3-col l5 m4 w3-right-align">
                            <button (click)="addMember()" mat-flat-button class="updateButton">
                                <mat-icon>add_circle_outline</mat-icon>
                                Add member
                            </button>
                        </div>
                    </div>
                    <div class="member-list">
                        <div class="member-item" *ngFor="let m of searchedMember">
                            <div class="member-item-person">
                                <mat-icon>account_circle</mat-icon>
                                <p>&#160;{{ m }}</p>
                            </div>
                            <button mat-icon-button (click)="remove(m)">
                                <mat-icon class="remove">highlight_off</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-drawer-content>
</mat-drawer-container>
