.sidenav-buttons {
    justify-content: space-between;
    padding-top: 80px;
    padding-right: 10px;
}

.organization-list {
    padding-top: 40px;
}

.tab {
    padding: 20px;
}

.addOrganization {
    margin-bottom: 20px;
}

.layout {
    height: 50vh;
}
