.organization-sidenav-side {
    width: 20vw;
}

.sidenav-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 10px;
}

.mat-drawer-content {
    background-color: white;
    padding: 10px;
}

.organization-list {
    padding-top: 40px;
}

.organization-entry {
    padding-top: 10px;
    padding-bottom: 10px;
}

.organization-entry:hover {
    background-color: #f3f3f3;
}

.organization-button {
    width: 80%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: inherit;
}

.addOrganization {
    display: flex;
    align-items: baseline;
}

.organization-button mat-icon {
    vertical-align: bottom;
}

.selected {
    background-color: #f3f3f3;
}

.remove {
    cursor: pointer;
}

.tab {
    padding: 20px;
}

.matContainer {
    min-height: 60vh;
}
