.sidenav-buttons {
    margin: -20px 0 0 -30px;
}

.organization-list {
    padding-top: 40px;
}

.tab {
    padding: 20px;
}

.addOrganization {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

nb-layout{
    width:100%;
    height:100%;
    min-height: 10vh !important;

    .layout {
        min-height: 10vh !important;
    }
}

nb-layout-column:first-child {
    flex: 30% !important;
    background-color: var(--card-background-color)
}

nb-layout-column:last-child {
    flex: 70% !important;
}
