<mat-card class="login-form">
  <img alt="Oeakestra Logo" mat-card-image src="../../../../assets/img/color-full.png" />
  <mat-card-content>
    <mat-icon class="connectingInfo" matTooltip="Connecting to: {{ sm_ip }}">info</mat-icon>
    <form [formGroup]="form" accept-charset="UTF-8" role="form">
      <div>
        <div>
          <input
            formControlName="username"
            class="form-control"
            id="username"
            name="username"
            placeholder="Username"
            type="text"
          />
        </div>

        <div class="form-group">
          <span (click)="forgotPassword()" class="pull-right text-primary link">Forgot password?</span>
          <div class="cols-sm-10">
            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
            <input
              (keyup.enter)="submitLogin()"
              formControlName="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
              type="password"
            />
          </div>
        </div>

        <hr />

        <div class="centerButton">
          <button (click)="submitLogin()" mat-button mat-flat-button type="button">Sign in</button>
        </div>
        <div class="signUp">
          <label class="cols-sm-2 control-label" for="password">Don't have an account?&ensp;</label>
          <span (click)="registerForm()" class="pull-right text-primary link">Sign up now </span>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
