<nb-layout>
    <nb-layout-column>
        <nb-card class="login-form">
            <img alt="Oakestra Logo" src="../../../../assets/img/color-full.png" />
            <form [formGroup]="form" (ngSubmit)="submitLogin()" accept-charset="UTF-8" role="form">
                <div class="info">
                    <nb-checkbox (checkedChange)="tabChanged($event)" status="basic">Organization login</nb-checkbox>
                    <nb-icon nbSuffix icon="info" nbTooltip="{{ sm_ip }}" pack="eva"></nb-icon>
                </div>

                <nb-form-field *ngIf="useOrganization">
                    <input
                        type="text"
                        fullWidth
                        nbInput
                        formControlName="organization_name"
                        placeholder="Organization"
                    />
                    <nb-icon nbSuffix icon="people" pack="eva"></nb-icon>
                </nb-form-field>

                <nb-form-field>
                    <input type="text" fullWidth nbInput formControlName="username" placeholder="Username" />
                    <nb-icon nbSuffix icon="person-outline" pack="eva"></nb-icon>
                </nb-form-field>

                <nb-form-field>
                    <input
                        placeholder="Password"
                        fullWidth
                        formControlName="password"
                        [type]="getInputType()"
                        nbInput
                    />
                    <button type="button" nbSuffix nbButton ghost (click)="toggleShowPassword()">
                        <nb-icon
                            [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                            pack="eva"
                            [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
                        >
                        </nb-icon>
                    </button>
                </nb-form-field>
                <div class="forgot">
                    <span (click)="forgotPassword()" class="text-primary link">Forgot password?</span>
                </div>
                <div class="centerButton">
                    <button type="submit" [disabled]="form.invalid" nbButton outline status="primary">
                        Sign in
                    </button>
                </div>
            </form>
        </nb-card>
    </nb-layout-column>
</nb-layout>
