<mat-card class="login-form" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <img alt="Oakestra Logo" mat-card-image src="../../../../assets/img/color-full.png" />
    <mat-card-content>
        <!--        <mat-icon class="connectingInfo" matTooltip="Connecting to: {{ sm_ip }}">info</mat-icon>-->
        <form [formGroup]="form" accept-charset="UTF-8" role="form">
            <div class="info">
                <p><mat-checkbox (change)="tabChanged($event)"></mat-checkbox>Organization login</p>
                <mat-icon matTooltip="{{ sm_ip }}">info</mat-icon>
            </div>

            <mat-form-field *ngIf="useOrganization">
                <mat-label>Organization</mat-label>
                <input matInput formControlName="organization_name" placeholder="Organization" />
                <mat-icon matPrefix>people</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="Username" />
                <mat-icon matPrefix>person</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                    matInput
                    type="password"
                    formControlName="password"
                    (keyup.enter)="submitLogin()"
                    placeholder="Password"
                />
                <mat-icon matPrefix>password</mat-icon>
            </mat-form-field>

            <span (click)="forgotPassword()" class="pull-right text-primary link">Forgot password?</span>
        </form>
        <hr />
        <div class="centerButton">
            <button [disabled]="form.invalid" (click)="submitLogin()" class="updateButton" mat-flat-button>
                Sign in
            </button>
        </div>
    </mat-card-content>
</mat-card>
