.login-form {
    width: 80%;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
}

nb-form-field{
  padding: 10px 0 10px 0;
}

.connectingInfo {
    float: right;
    margin: 8px;
}

.signUp {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.form-group {
    margin-top: 8px;
}

.form-control {
    margin-bottom: 16px;
}

.loginButton {
    display: flex;
    justify-content: center;
}

.centerButton {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.link {
    cursor: pointer;
    float: right;
}

nb-card-body.example-items-col {
  align-items: stretch;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 801px) {
    .login-form {
        width: 60%;
    }
}

@media only screen and (min-width: 1201px) {
    .login-form {
        width: 35%;
    }
}

hr {
    border-top: 1px solid #fff;
}
