@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

.login-form {
    width: 80%;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
}

nb-form-field{
  padding: 10px 0 10px 0;
}

.connectingInfo {
    float: right;
    margin: 8px;
}

.signUp {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.form-group {
    margin-top: 8px;
}

.form-control {
    margin-bottom: 16px;
}

.loginButton {
    display: flex;
    justify-content: center;
}

.centerButton {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.link {
    cursor: pointer;
    float: right;
}

nb-card-body.example-items-col {
  align-items: stretch;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 801px) {
    .login-form {
        width: 60%;
    }
}

@media only screen and (min-width: 1201px) {
    .login-form {
        width: 35%;
    }
}

.mat-mdc-tab-group {
    display: contents;
    flex-direction: column;
    max-width: 100%;
}

.mat-mdc-tab-body-content {
    height: 100%;
    overflow: hidden;
}

.mat-mdc-tab-body.mat-mdc-tab-body-active {
    overflow: hidden !important;
}

hr {
    border-top: 1px solid #fff;
}
