<nb-card class="serviceCard">
    <nb-card-header>Configure Service</nb-card-header>
    <nb-card-body>
        <nb-tabset class="inputGroup" fullWidth>
            <nb-tab tabTitle="FORM">
                <form-service-info [service]="service" #serviceInfo></form-service-info>

                <form-requirements [service]="service" #requirements></form-requirements>

                <form-addresses [service]="service" #addresses></form-addresses>

                <form-file-select [service]="service" #fileSelect></form-file-select>

                <form-arguments [service]="service" #arguments></form-arguments>

                <form-constraints [service]="service" #constraints></form-constraints>

                <form-connectivity [service]="service" #connectivity></form-connectivity>

                <button (click)="onSubmit()" nbButton color="primary" type="submit">Save</button>

                <button nbButton color="accent" routerLink="/control" type="button">Cancel</button>
            </nb-tab>

            <nb-tab tabTitle="SLA">
                <form-file-upload (upload)="slaFromFile($event)"></form-file-upload>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>
