.content {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
    padding-top: 20px;
}

.inputGroup {
    padding: 10px !important;
}

.mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: block !important;
    flex-direction: column;
    min-width: 0;
    text-align: left;
}

button{
  margin-right: 10px;
}
