.resetForm {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25%;
  margin-left: -12.5%;
  margin-top: -40vh;
}

input {
  margin-top: 5px;
}

label {
  margin-top: 15px;
}

fieldset {
  margin: 0;
  border: none;
}

.saveButton {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

@media only screen and (max-width: 801px) {
  .resetForm {
    width: 40%;
  }
}
/*TODO  FIX Responsive here */
@media only screen and (min-width: 1201px) {
  .resetForm {
    width: 35%;
  }
}
