<mat-card class="example-card">
  <!--  <mat-card-header>-->
  <!--    <div class="example-header-image" mat-card-avatar></div>-->
  <!--    <mat-card-title>Dashboard</mat-card-title>-->
  <!--    <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  <!--  </mat-card-header>-->
  <img alt="EdgeIO Logo" mat-card-image src="../../../assets/img/logo-white-bg.png">
  <mat-card-content>
    <form accept-charset="UTF-8" class="form-signin" role="form">
      <div>
        <div class="form-group">
          <label class="cols-sm-2 control-label" for="username">Username</label>
          <div class="cols-sm-10">
            <div class="input-group">
<!--              <span class="input-group-addon"><mat-icon>person</mat-icon></span>-->
              <input [(ngModel)]="user.name" class="form-control" id="username" name="username"
                     placeholder="Enter your Username"
                     type="text"/>
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-top: 8px">
          <label class="cols-sm-2 control-label" for="password">Password</label>
          <span (click)="forgotPassword()" class="pull-right text-primary"
                style="cursor: pointer; float: right">Forgot password?</span>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
              <input [(ngModel)]="user.password" class="form-control" id="password" name="password"
                     placeholder="Enter your Password" type="password"/>
            </div>
          </div>
        </div>
        <hr>
        <div style=" display: flex; justify-content: center;">
          <button (click)="submitLogin()" color="primary" mat-button mat-flat-button style="margin-top: 8px;"
                  type="button">Sign in
          </button>
        </div>

<!--        <p></p>-->
        <!--
        <button type="button" class="navbar-brand btn btn-lg btn-primary btn-block"
                (click)="submitRegistration()"   style="padding-bottom: 5%">Register
        </button>
        -->
      </div>
    </form>
  </mat-card-content>
</mat-card>


