@font-face {
    font-family: 'Urbanist';
    src: url('./assets/fonts/ttf/Urbanist-Regular.ttf') format('ttf'),
        url('./assets/fonts/ttf/Urbanist-Regular.ttf') format('ttf');
    font-weight: 400;
}

* {
    font-family: 'Urbanist', sans-serif !important;
    font-weight: 400;
    font-size: 14px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

nb-form-field,
nb-select {
    padding: 10px 0 10px 0;

    .nb-form-field-addon {
        align-items: flex-end;
    }
}

button {
    margin-right: 10px;
}

.dialog-footer {
    display: flex;
    justify-content: flex-end;
}
