/*@import "~bootstrap/dist/css/bootstrap.css";*/
/*@import "https://www.w3schools.com/w3css/4/w3.css";*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.alignRight {
  text-align: right
}

.mat-dialog-actions {
  justify-content: flex-end;
}

/*.mat-button-focus-overlay {*/
/*  background-color: transparent !important;*/
/*}*/

/*////////////////////////////////////////////////////*/
svg {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /*-o-user-select: none;*/
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #888;
  stroke-width: 5px;
  cursor: default;
}

path.link.selected {
  stroke: #000000;
  stroke-dasharray: 10, 5;
  /*z-index: 2;*/
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 0;
  cursor: pointer;
  fill: #fff;
}

text {
  font: 14px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

.error-snackbar {
  background-color: #a31919;
}

.success-snackbar {
  background-color: #28a513;
}


mat-card {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 10px;
  display: inline-block;
  padding-bottom: 0;
}

mat-card-title {
  background-color: #004a9f;
  padding: 16px;
  border-radius: 4px;
  color: white;
}

mat-card p {
  margin-bottom: 0;
}

.content-cards {
  border-radius: 10px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 801px) {
  .content-cards {
    margin-left: 32px;
  }
}

.serviceCard {
  height: 100%;
}

form {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.smallInput {
  width: 10%;
  padding: 10px;
}

td {
  padding-right: 8px;
}

.constraints {
  padding-top: 10px;
}

.settingsButton {
  float: right;
}

.leftInput {
  padding-right: 8px;
}

.rightInput {
  padding-left: 8px;
}

@media only screen and (max-width: 1000px) {
  .leftInput {
    padding-right: 0;
  }

  .rightInput {
    padding-left: 0;
  }
}

.addButtonDiv {
  display: inline-block;
  vertical-align: middle;
}

.cancel_buttons {
  margin-left: 8px;
}

.file-input {
  display: none
}

button:focus {outline:0;}

.mat-button{
  line-height: 40px;
}

