//@use '@angular/material' as mat;
//
//@include mat.core();
//
//// Define a dark theme
//$mat-theming-theme-dark: mat.define-dark-theme(
//    (
//        color: (
//            primary: mat.define-palette(mat.$lime-palette, 800),
//            accent: mat.define-palette(mat.$blue-grey-palette),
//            warn: mat.define-palette(mat.$amber-palette),
//        ),
//        // Only include `typography` and `density` in the default dark theme.
//        typography: mat.define-typography-config(),
//        density: 0,
//    )
//);
//
//// Define a light theme
//$mat-theming-theme-light: mat.define-light-theme(
//    (
//        color: (
//            primary: mat.define-palette(mat.$blue-grey-palette, 600),
//            accent: mat.define-palette(mat.$blue-grey-palette, 300),
//            warn: mat.define-palette(mat.$red-palette, 400),
//        ),
//    )
//);
//
//// Include the theme mixins
//
//:root {
//    --primary-background: #4a7083;
//    --primary-background_sidenav: #3b474e;
//}
//
//// TODO Fix the CSS Bugs if you use a other theme
//
//.theme-dark {
//    @include mat.all-component-themes($mat-theming-theme-dark);
//    --primary-background: #212121;
//    --primary-background_sidenav: #212121;
//}
//
//.theme-light {
//    @include mat.button-color($mat-theming-theme-light);
//    --primary-background: #4a7083;
//    --primary-background_sidenav: #3b474e;
//}
