<nb-card>
    <nb-card-header> User Management</nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="onSubmit()" *ngIf="user$ | async" [formGroup]="form">
            <nb-form-field>
                <input type="text" nbInput [value]="(user$ | async).name" disabled placeholder="Name" />
            </nb-form-field>
            <nb-form-field>
                <input type="email" nbInput formControlName="email" placeholder="E-mail" />
            </nb-form-field>

            <h5>Your Roles</h5>
            <nb-tag-list aria-label="roles">
                <nb-tag
                    *ngFor="let r of (user$ | async).roles"
                    [ngStyle]="{ 'background-color': getRoleBackgroundColor(r) }"
                    selected
                    appearance="filled"
                    [text]="r"
                    status="primary"
                >
                </nb-tag>
            </nb-tag-list>

            <br />

            <h5>Theme</h5>
            <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)">
                <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
            </nb-select>

            <br />

            <div class="alignCenter">
                <button [disabled]="!form.valid" color="primary" nbButton type="submit">Save</button>
                <button (click)="openDialog(user)" type="button" nbButton color="primary">Change Password</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
