<div class="addOrganization">
    <nb-form-field appearance="fill" class="input-field searchForm">
        <input
            placeholder="Search organization"
            (ngModelChange)="search($event)"
            [(ngModel)]="searchText"
            nbInput
            type="text"
        />
        <nb-icon nbSuffix icon="search" pack="eva"></nb-icon>
    </nb-form-field>

    <button (click)="newOrganization()" nbButton color="primary">
        <nb-icon nbSuffix icon="plus-circle" pack="eva"></nb-icon>
        Create Organization
    </button>
</div>

<table [dataSource]="searchedOrganizations" class="search" mat-table>
    <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Organization</th>
        <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="roles">
        <th *matHeaderCellDef mat-header-cell>Member</th>
        <td *matCellDef="let element" mat-cell>
            <button
                nbTooltipPlacement="start"
                nbButton
                ghost
                nbTooltip="View members"
                class="member"
                (click)="editOrganization(element)"
            >
                {{ element.member.length }}
                <nb-icon nbSuffix icon="person"></nb-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
        <th *matHeaderCellDef mat-header-cell class="alignCenter"></th>
        <td *matCellDef="let element" mat-cell class="alignRight">
            <button (click)="openDeleteDialog(element)" nbButton ghost>
                <nb-icon icon="trash-2"></nb-icon>
            </button>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
