<div class="addOrganization">
    <mat-form-field appearance="fill" class="input-field searchForm">
        <mat-label>Search organization</mat-label>
        <input (ngModelChange)="search($event)" [(ngModel)]="searchText" matInput type="text" />
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button (click)="newOrganization()" mat-flat-button color="primary">
        <mat-icon>add_circle_outline</mat-icon>
        Create Organization
    </button>
</div>

<table [dataSource]="searchedOrganizations" class="search" mat-table>
    <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Organization</th>
        <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="roles">
        <th *matHeaderCellDef mat-header-cell>Member</th>
        <td *matCellDef="let element" mat-cell>
            <div
                matTooltip="View members"
                matTooltipPosition="before"
                class="member"
                (click)="editOrganization(element)"
            >
                <p>{{ element.member.length }}</p>
                <mat-icon>person</mat-icon>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
        <th *matHeaderCellDef mat-header-cell class="alignCenter"></th>
        <td *matCellDef="let element" mat-cell class="alignRight">
            <button (click)="openDeleteDialog(element)" mat-icon-button>
                <span><mat-icon>delete</mat-icon></span>
            </button>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
