<!--<button class="navButton" mat-flat-button routerLink="/control">-->
<!--    <mat-icon>apps</mat-icon>-->
<!--    Applications-->
<!--</button>-->

<ul class="sub-menu">
    <div id="applicationTitle">
        <mat-expansion-panel class="application-panel">
            <mat-expansion-panel-header>
                <mat-panel-title class="panel-title"> My Applications </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let app of apps$ | async" class="items">
                <mat-radio-group (change)="handleChange()" [(ngModel)]="activeAppId" routerLink="/control">
                    <mat-radio-button [value]="app._id" class="radioButton">
                        <span class="sidenav-text">{{ app.application_name }}</span>
                    </mat-radio-button>
                </mat-radio-group>

                <button (click)="openDialogApp(DialogAction.UPDATE, app)" class="sidenav-text" mat-icon-button>
                    <mat-icon>settings</mat-icon>
                </button>
            </div>
        </mat-expansion-panel>
    </div>
    <mat-list class="inline-list">
        <button class="navButton" mat-flat-button (click)="openDialogApp(DialogAction.ADD, undefined)">
            Add Application
            <mat-icon>add_circle</mat-icon>
        </button>
    </mat-list>
</ul>
