.appSelectLable {
    color: white;
}

mat-list-item {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

mat-list-item .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

mat-list-item i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
}

mat-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

mat-list-item a .link_name {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.sub-menu {
    padding: 0;
}

mat-list-item .sub-menu mat-list-item {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

mat-list-item .sub-menu a:hover {
    opacity: 1;
}

.panel-title {
    color: white;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidenav-text {
    color: white;
}

.nav-links {
    padding: 0;
}

.application-panel {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: #3b474e;
}
.mat-radio-button {
    border-color: white !important;
}
/*
/deep/ .mdc-form-field > label {
    margin: 0;
}
*/

.mdc-radio__outer-circle {
    border-color: white !important;
}

.radio-group{
  display: inline-flex;
  flex-direction: column;
}

.radioButton{
  margin: 5px 0;
}

