<div class="icon-link">
    <a>
        <mat-icon>apps</mat-icon>
        <span class="link_name"> <a href="/control">Applications</a></span>
    </a>
</div>
<ul class="sub-menu">
    <mat-list-item>
        <div id="applicationTitle">
            <mat-expansion-panel class="application-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title"> My Applications </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let app of apps" class="items">
                    <mat-radio-group (change)="handleChange()" [(ngModel)]="activeAppId" routerLink="/control">
                        <mat-radio-button [value]="app._id" class="menu-button">
                            <span class="sidenav-text">{{ app.application_name }}</span>
                        </mat-radio-button>
                    </mat-radio-group>

                    <button (click)="openDialogApp(DialogAction.UPDATE, app)" class="sidenav-text" mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-list-item>
    <mat-list class="inline-list">
        <mat-list-item>
            <span class="sidenav-text">Add</span>
            <button
                (click)="openDialogApp(DialogAction.ADD, undefined)"
                class="menu-button sidenav-text"
                mat-icon-button
            >
                <mat-icon>add</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</ul>
