<div class="container">
  <div class="row" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let cluster of clusters">
      <mat-card class="mat-elevation-z4" >
        <mat-card-subtitle>Cluster ID {{cluster._id.$oid}}</mat-card-subtitle>
        <mat-card-title>{{cluster.cluster_name}}</mat-card-title>
        <mat-card-actions align="end">
          <button *ngIf="!is_complete(cluster)" mat-button><i>NOT YET RUNNING</i></button>
          <button (click)="deleteCluster(cluster)" mat-button><i class='bx bxs-trash'></i></button>
        </mat-card-actions>

        <mat-accordion *ngIf="is_complete(cluster)">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Add description
            </mat-panel-title>
          </mat-expansion-panel-header>
          <input>
        </mat-expansion-panel>
        </mat-accordion>

      </mat-card>
    </div>
  </div>
</div>