<div class="content-cards">
  <mat-card class="serviceCard" id="content">

    <div>
      <mat-card-title>Cluster: example1</mat-card-title>

      <div class="content mat-elevation-z8">
        <p>No jobs in this cluster.</p>
      </div>
    </div>

    <div>
      <mat-card-title>Cluster: example2</mat-card-title>

      <div class="content mat-elevation-z8">
        <p>No jobs in this cluster.</p>
      </div>
    </div>
    <div>
      <mat-card-title>Cluster: example3</mat-card-title>

      <div class="content mat-elevation-z8">
        <p>No jobs in this cluster.</p>
      </div>
    </div>
  </mat-card>
</div>
